<%

# BioCatalogue: app/views/rest_methods/edit_by_popup.html.erb
#
# Copyright (c) 2008, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<div class="redbox_contents" style="width:500px;">
	<div class="head">
		<%= link_to_close_redbox image_tag("close.gif"), :style => "float:right; margin-left:0.5em; vertical-align:middle;" -%>
    <span style="vertical-align:middle;">Edit Endpoint Name</span>
	</div>
	
	<div class="body">
    <%= form_for @rest_method do |f| %>
          <% if !@rest_method.nil? && !@rest_method.errors.nil? then %>
              <% @rest_method.errors.full_messages.each do |err| %>
                  <%= err %>
              <% end %>
          <% end %>
      <div>
        <div class="box_info_standout" style="font-size:100%" >
          You are editing the name for endpoint:
          <b><%=h @rest_method.display_endpoint -%></b>
        </div>
        
        <p class="high_linespaced form_field_section">
          <%= text_field_tag "new_name", h(@rest_method.endpoint_name), :size => "50", :style => "width: 99%;" %>
          <%= hidden_field_tag "old_name", h(@rest_method.endpoint_name) %>
        </p>
        
        <p style="margin-top: 1.5em; text-align: center;">
          <%= f.submit "Update", :disable_with => "Submitting..." -%>
  				<%= button_to_function "Close", "RedBox.close()" -%>
        </p>
  
      </div>
    
    <% end %>  
 	</div>
  
</div>
