<%
  
  # BioCatalogue: app/views/rest_methods/show.html.erb
  #
  # Copyright (c) 2009, University of Manchester, The European Bioinformatics 
  # Institute (EMBL-EBI) and the University of Southampton.
  # See license.txt for details
  
%>

<% 
  t "Details for endpoint: #{@rest_method.display_endpoint}" 

  show_button = logged_in? && BioCatalogue::Auth.allow_user_to_curate_thing?(current_user, @rest_method)
%>



    <h1>
      <div class="resource_title">
	    REST Endpoints on Service:
<%= link_to h(display_name(@rest_service.service)), service_url(@rest_service.service, :anchor => "endpoints") -%>
        </div>
    </h1>


<div class="header_left_bar" style="float: none; position: static;" id="center" >
     <span class="actions_button_row" >
         <span class="actions_button">
                <%= link_to image_tag(icon_filename_for(:arrow_backward)) + content_tag(:span, " Back To Service \"#{h(display_name(@rest_service.service))}\""),
						  service_endpoint_service_url(@rest_service.service) -%>
        </span>
         <%= if show_button then ('<span class="actions_button">' + add_endpoints_by_popup(@rest_service, :style => "float:none; font-weight:normal") + '</span>').html_safe end %>

     </span>
</div>

<a name='endpoints_top'></a>

<div class="operations_quick_browse_box">
  <span class="heading">
    Quick Browse
  </span>
  |
  
  <% @grouped_rest_methods.each do |g| %>
    <% unless g[:group_name] == "Other" and @grouped_rest_methods.length == 1 %>
      <span class="group_name">
        <%= h g[:group_name] -%>:
      </span>
    <% end %>
    <% g[:items].each do |meth| %>
      <span class="entry">
        <%= link_to(display_name(meth), meth, :class => (meth == @rest_method ? 'active' : '')) -%>
      </span>
      |
    <% end %>
  <% end %>
  
</div>
	
<div class="vtabs_container">
	
  <!-- TABS BAR -->  
  <div class="vtabs_tab_bar" style="width:25%;">
    <ul>
      <% @grouped_rest_methods.each do |g| %>
        
        <% unless g[:group_name] == "Other" and @grouped_rest_methods.length == 1 %>
          <li class="group_name"><%= h g[:group_name] -%></li>  
        <% end %>
        
        <!-- Selected tab -->
        <% if g[:items].include? @rest_method %>
          <li class="active" title="<%= tooltip_title_attrib((@rest_method.endpoint_name.blank? ? '' : '<b>'.html_safe + display_name(@rest_method) + '</b><br/>'.html_safe) + h(@rest_method.display_endpoint))-%>">
            <% if @rest_method.endpoint_name %>
              <% label = content_tag(:span, truncate(display_name(@rest_method), :length => 40), :class => 'name') + "<br/>".html_safe +
                         content_tag(:span, truncate(h(@rest_method.display_endpoint), :length => 48), :class => 'detail') %>
            <% else %>
              <% label = content_tag(:span, truncate(h(@rest_method.display_endpoint), :length => 40), :class => 'name') + "<br/>".html_safe %>
            <% end %>
            
            <%= link_to label, @rest_method -%>
          </li>
        <% end %>
        
        <% g[:items].each do |meth| %>
          <% next if meth == @rest_method %>

          <li title="<%= tooltip_title_attrib((meth.endpoint_name.blank? ? '' : '<b>'.html_safe + display_name(meth) + '</b><br/>'.html_safe) + h(meth.display_endpoint)) -%>">
            <% if meth.endpoint_name %>
              <% label = content_tag(:span, truncate(display_name(meth), :length => 40), :class => 'name') + "<br/>".html_safe +
                         content_tag(:span, truncate(h(meth.display_endpoint), :length => 48), :class => 'detail') %>
            <% else %>
              <% label = content_tag(:span, truncate(h(meth.display_endpoint), :length => 40), :class => 'name') + "<br/>".html_safe %>
            <% end %>

            <%= link_to label, meth -%>
          </li>
        <% end %>
        
      <% end %>
    </ul>
  </div>
   
  <!-- MAIN AREA-->
  <div class="vtabs_tab_content" style=" width:72%;">
    <% resource = @rest_method.rest_resource %>

    <h1>
      <span class="actions_link_container" style="font-size:80%;">
        <% if BioCatalogue::Auth.allow_user_to_curate_thing?(current_user, @rest_method) %>
          <%= link_to image_tag("delete_faded_darker.png", :mouseover => "delete.png") + content_tag(:span, " Delete"), 
                      @rest_method,
                      :confirm => "Are you you want to delete this endpoint.  This cannot be undone.", 
                      :method => :delete,
                      :class => "button_slim" %>
          
          <%= edit_endpoint_property_by_popup(@rest_method, "resource_path",
                                              :link_text => "Edit",
                                              :class => "button_slim") -%>

          <%= edit_group_name_by_popup(@rest_method,
                                      :class => "button_slim") -%>
        
        <% end %>
      </span>

      <%= h @rest_method.display_endpoint -%>    
    </h1>
    
    <div class="operation_box">        
      <div>
        <div style="float: left; width: 73%;">
          <div style="margin-bottom: 1.2em;">            
            <%= render :partial => "rest_methods/endpoint_name" -%>
          </div>
          
          <div style="margin-bottom: 1.2em;">
            <b>Template:</b>
            <%= help_icon_with_tooltip("This is an example of how the endpoint's URL will look. This includes the minimal set of parameters needed to be able to use the endpoint.") -%>
            
           <%=h create_url_template(@rest_method) -%>
          </div>
          
          <div>
            <%= render :partial => "annotations/descriptions",
              :locals => { :annotatable => @rest_method } -%>
          </div>
          
          <div>
            <%= render :partial => "annotations/example_endpoints",
              :locals => { :annotatable => @rest_method } -%>
          </div>
          
          <div>
            <%= render :partial => "annotations/documentation_urls",
                       :locals => { :annotatable => @rest_method } -%>
          </div>

        </div>
          
        <div style="float: right; width: 25%; font-size: 85%; margin-top:10px;">
          <%= render :partial => "annotations/tags_box",
            :locals => { :annotatable => @rest_method } -%>
        </div>
          
        <span class="clear"></span>
      </div>
          
      <br />
      <%= render :partial => "rest_parameters/input_parameters", 
                 :locals => {:method => @rest_method, :resource => resource} -%>

      <%= render :partial => "rest_representations/representation", 
                 :locals => {:method => @rest_method, 
                             :resource => resource,
                             :is_http_request => true} if %w{ POST PUT }.include?(@rest_method.method_type) -%>

      <%= render :partial => "rest_representations/representation", 
                 :locals => {:method => @rest_method, 
                             :resource => resource,
                             :is_http_request => false} -%>
      <br/>
    </div>
  </div>
</div>

<span class="clear"></span>

<p style="margin: 1.5em 0 1.5em 0; font-size: 93%; text-align: right;">
	<a href="#endpoints_top">Back to top</a>
</p>
