<%

# BioCatalogue: app/views/services/_annotation_counts.html.erb
#
# Copyright (c) 2009, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<% counts = metadata_counts_for_service(service) %>

<span class="annotations_counts_box">
	<% content_tag(:span, :class => "total", :title => tooltip_title_attrib("Overall number of annotations on this service and its parts"))  do %>
		Total: <%= counts[:total] -%>
		<%= image_tag('note.png', :alt => "Overall number of annotations on this service and its parts") -%>
	<% end %>
	
	<% content_tag(:span, :class => "annotation_source_provider", :title => tooltip_title_attrib("Total number of annotations sourced from service provider(s)"))  do %>
		<%= counts[:providers] -%>
		<%= image_tag('page_white_code.png', :alt => "Total number of annotations sourced from service provider(s)") -%>
	<% end %>
	
	<% content_tag(:span, :class => "annotation_source_registry", :title => tooltip_title_attrib("Total number of annotations sourced from other registries"))  do %>
		<%= counts[:registries] -%>
		<%= image_tag('page_white_link.png', :alt => "Total number of annotations sourced from other registries") -%>
	<% end %>
	
	<% content_tag(:span, :class => "annotation_source_user end", :title => tooltip_title_attrib("Total number of user submitted annotations"))  do %>
		<%= counts[:users] -%>
		<%= image_tag('user.png', :alt => "Total number of user submitted annotations") -%>
	<% end %>
</span>
