<%

# BioCatalogue: app/views/services/_annotation_counts.html.erb
#
# Copyright (c) 2009, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<span class="annotations_counts_box">
	<% content_tag(:span, :class => "total", :title => tooltip_title_attrib("Overall number of extra annotations on this service and its parts"))  do %>
		<%= image_tag('page.png', :alt => "Overall number of extra annotations") -%>
		Total: <%= total_number_of_annotations_for_service(service) -%>
	<% end %>
	
	<% content_tag(:span, :class => "annotation_source_user", :title => tooltip_title_attrib("Total number of user submitted annotations on this service and its parts"))  do %>
		<%= total_number_of_annotations_for_service(service, "User") -%>
		<%= image_tag('user.png', :alt => "Total number of user submitted annotations") -%>
	<% end %>
	
	<% content_tag(:span, :class => "annotation_source_registry end", :title => tooltip_title_attrib("Total number of annotations from other registries on this service and its parts"))  do %>
		<%= total_number_of_annotations_for_service(service, "Registry") -%>
		<%= image_tag('book_addresses.png', :alt => "Total number of annotations from other registries") -%>
	<% end %>
</span>
