<%

# BioCatalogue: app/views/services/_index_tag_cloud.html.erb
#
# Copyright (c) 2009, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<% #cache(:controller => 'services', :action => 'index', :part => 'tag_cloud') do
   cache(['services', 'index', 'tag_cloud'].join('/')) do -%>

	<% 
		 @tags = BioCatalogue::Tags.get_tags(:limit => 100)
		 initial_number_of_tags = 20
		 max_font_size = 20 
	%>
	
	<center>
		<% rounded nil, "#333", "80%" do %>
		
			<div class="box_info" style="padding: 0.2em 1em 0 1em; margin: 0;">
        
				<span style="float:right; font-size: 85%;">
          <%= link_to("See All Tags", tags_path) -%>
        </span>
        
				<h3 style="font-size: 116%;">
					<span style="vertical-align:middle;">
						<span id="tag_cloud_title_normal">
							<b>Top <%= pluralize(@tags[0...initial_number_of_tags].length, "tag") -%> on <%= SITE_NAME -%></b>
						</span>
						<% if @tags.length > initial_number_of_tags %>
							<span id="tag_cloud_title_bigger" style="display:none;">
								<b>Top <%= pluralize(@tags.length, "tag") -%> on <%= SITE_NAME -%></b>
							</span>
						<% end %>
					</span>
					<span style="vertical-align:middle; margin: 0 0.5em;">
						<%= help_icon_with_tooltip(help_text_for_tag_clouds) -%>
					</span>
          <% if @tags.length > initial_number_of_tags %>
            <span style="vertical-align:middle; font-weight: normal; font-size: 85%; margin-left: 1.5em;">
              (
              <%= link_to_function("more" + expand_image("0.5em"), :id => 'tag_cloud_more_link', :style => "text-decoration: none;").html_safe do |page|
                page.toggle 'tag_cloud_more_link', 'tag_cloud_less_link', 'tag_cloud_normal', 'tag_cloud_bigger', 'tag_cloud_title_normal', 'tag_cloud_title_bigger'
              end -%>
              
              <%= link_to_function("less" + collapse_image("0.5em"), :id => 'tag_cloud_less_link', :style => "text-decoration: none; display:none;") do |page| 
                page.toggle 'tag_cloud_more_link', 'tag_cloud_less_link', 'tag_cloud_normal', 'tag_cloud_bigger', 'tag_cloud_title_normal', 'tag_cloud_title_bigger'
              end -%>)
            </span>
          <% end %>
				</h3>
				
				<div id="tag_cloud_normal">
					<%= generate_tag_cloud(@tags[0...initial_number_of_tags], :weighted, :max_font => max_font_size, :tag_cloud_style => "margin-top: 0.3em; margin-bottom: 0.5em;") -%>
				</div>
				
				<% if @tags.length > initial_number_of_tags %>
					<div id="tag_cloud_bigger" style="display:none;">
						<%= generate_tag_cloud(@tags, :weighted, :max_font => max_font_size, :tag_cloud_style => "margin-top: 0.3em; margin-bottom: 0.5em;") -%>
					</div>
				<% end %>
				
			</div>
		
		<% end %>
	</center>

<% end %>