<%

# BioCatalogue: app/views/services/_index_tag_cloud.html.erb
#
# Copyright (c) 2009, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<% cache(:controller => 'services', :action => 'index', :part => 'tag_cloud') do %>

	<% 
		 @tags = BioCatalogue::Tags.sort_tags_by_frequency(BioCatalogue::Tags.get_tags(100))
		 initial_number_of_tags = 20
		 max_font_size = 20 
	%>
	
	<center>
		<% rounded "#E9F7CC", "#000", "80%" do %>
		
			<div class="box_info" style="padding: 0.4em 1em 0 1em; margin: 0;">
				<span style="float:right; font-size: 85%;">[ <%= link_to("See All Tags", tags_index_path) -%> ]</span>
				<h3 style="font-size: 116%;">
					<span style="vertical-align:middle;">
						<span id="tag_cloud_title_normal">
							<b>Top <%= pluralize(@tags[0...initial_number_of_tags].length, "tag") -%> on BioCatalogue</b>
						</span>
						<% if @tags.length > initial_number_of_tags %>
							<span id="tag_cloud_title_bigger" style="display:none;">
								<b>Top <%= pluralize(@tags.length, "tag") -%> on BioCatalogue</b>
							</span>
						<% end %>
					</span>
					<span style="vertical-align:middle; margin-left:0.5em;">
						<%= help_icon_with_tooltip(help_text_for_tag_clouds) -%>
					</span>
				</h3>
				
				<div id="tag_cloud_normal">
					<%= generate_tag_cloud(BioCatalogue::Tags.sort_tags_alphabetically(@tags[0...initial_number_of_tags]), :weighted, :max_font => max_font_size, :tag_cloud_style => "margin-top: 0.3em; margin-bottom: 0.5em;") -%>
				</div>
				
				<% if @tags.length > initial_number_of_tags %>
					<div id="tag_cloud_bigger" style="display:none;">
						<%= generate_tag_cloud(BioCatalogue::Tags.sort_tags_alphabetically(@tags), :weighted, :max_font => max_font_size, :tag_cloud_style => "margin-top: 0.3em; margin-bottom: 0.5em;") -%>
					</div>
				<% end %>
				
				<% if @tags.length > initial_number_of_tags %>
					<p class="more_less_links">
						<%= link_to_function("more" + expand_image("0.5em"), :id => 'tag_cloud_more_link') do |page| 
				      page.toggle 'tag_cloud_more_link', 'tag_cloud_less_link', 'tag_cloud_normal', 'tag_cloud_bigger', 'tag_cloud_title_normal', 'tag_cloud_title_bigger'
				    end -%>
						
						<%= link_to_function("less" + collapse_image("0.5em"), :id => 'tag_cloud_less_link', :style => "display:none;") do |page| 
				      page.toggle 'tag_cloud_more_link', 'tag_cloud_less_link', 'tag_cloud_normal', 'tag_cloud_bigger', 'tag_cloud_title_normal', 'tag_cloud_title_bigger'
				    end -%>
					</p>
				<% end %>
				
			</div>
		
		<% end %>
	</center>

<% end %>