<%

# BioCatalogue: app/views/services/_listing.html.erb
#
# Copyright (c) 2008, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<div class="listings">
	<% items.each do |service| %>
		<% unless service.nil? %>
		<div class="listing_item">
			<p class="name">
				<%= link_to(h(service.name), service_path(service)) -%>
				<%= service_type_badges(service.service_types) -%>
				
				<% service.service_deployments.each do |s_d| %>
					<% unless s_d.country.blank? -%>
						<%= flag_icon_from_country(s_d.country, s_d.location) -%>
					<% end %>
				<% end %>
			</p>
			
			<p class="desc">
				<% unless (desc = service.description).blank? %>
					<%= truncate(h(desc), 150) -%>
				<% else %>
					<span class="none_text">No description</span>
				<% end %>
			</p>

			<p class="detail">
				<b>Provider(s):</b>
				<% service.providers.each do |provider| %>
					<%= link_to(h(provider.name), service_provider_path(provider)) %>
				<% end %>
			</p>
			
			<p class="detail">
				<b>Submitted by:</b>
				<%= link_to(h(service.submitter.display_name), user_path(service.submitter)) %>
				(<%= distance_of_time_in_words_to_now(service.created_at) -%> ago)
			</p>
		</div>
		<% end %>
	<% end %>
</div>
