<%

# BioCatalogue: app/views/services/_listing.html.erb
#
# Copyright (c) 2008, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<div class="listings">
	<% items.each do |service| %>
		<% unless service.nil? %>
			<% service_version_instance = service.latest_version.service_versionified %>
			<div class="listing_item">
				<span style="float: right; margin-top: 1em; *margin-top: 0.3em;">
					<%= render :partial => "services/annotation_counts",
										 :locals => { :service => service } -%>
				</span>
				
				<p class="name">
					<%= link_to(h(service.name), service_path(service)) -%>
					<%= service_type_badges(service.service_types) -%>
					<%= service_location_flags(service) -%>
				</p>
				
				<%= render :partial => "annotations/name_aliases",
									 :locals => { :annotatable => service,
																:name_annotations => all_name_annotations_for_service(service),
																:show_add_option => false,
																:show_modify_options => false } -%>
				
				<div style="margin: 0.8em 0">
					<%= render :partial => "annotations/descriptions",
								:locals => { :annotatable => service_version_instance,
									:show_header => false,
									:truncate_desc => 150,
									:auto_link_desc => false,
									:show_modify_options => false,
									:show_none_text => false } -%>
				</div>
				
				<p class="detail">
					<span style="float: right; vertical-align: bottom;">
						<%= service_latest_status_symbol(service) -%>
					</span>
					
					<b>Provider:</b>
					<% service.providers.each do |provider| %>
						<%= link_to(h(provider.name), service_provider_path(provider)) %>
					<% end %>
					|
					<b>Submitted by:</b>
					<%= link_to(h(service.submitter_name), service.submitter) %>
					(<%= distance_of_time_in_words_to_now(service.created_at) -%> ago)
				</p>
				
				<div class="detail">
					<%= render :partial => "annotations/tags_flat",
								 		 :locals => { :annotatable => service,
																	:show_add_option => false } -%>
				</div>
				
				<hr/>
				
				<div class="detail">
					<%= render :partial => "#{service_version_instance.class.to_s.pluralize.underscore}/service_listing_info", 
					 	 				 :locals => { :service_version_instance =>  service_version_instance } %>
				</div>
			</div>
		<% end %>
	<% end %>
</div>
