<%

# BioCatalogue: app/views/services/_similar_services_box.html.erb
#
# Copyright (c) 2009, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<% similar_services = @service.similar_services(100) %>

<div class="box_section">
	<b class="xtop"><b class="xb1"></b><b class="xb2"></b><b class="xb3"></b><b class="xb4"></b></b>
	<div class="content">
		<p class="heading">
			<span><%= info_icon_with_tooltip("Other services that are similar to this service. Currently we find other services with matching categories and parent categories.") -%></span>
			<span>Similar Services <font class="faded">(<%= similar_services.length -%>)</font></span>
		</p>
		
		<% unless similar_services.empty? %>
			<div>
				<ul class="items">
					<% count = 0 %>
					<% similar_services.each do |s| %>
						<% 
							count += 1
							row_class = (count > 10 ? "similar_services_hidden" : "")
							show_row = row_class.blank?
						%>
						<li class="<%= row_class -%>" style="<%= show_row ? "" : "display: none;" -%>">
							<%= link_to(display_name(s), service_url(s)) -%>
						</li>
					<% end %>
				</ul>
			</div>
			
			<%# ... make available the option to show all, if there are more. %>
			<% if similar_services.length > 10 %>
				<p class="more_less_links" style="margin-top: 0.8em;">
					<%= generic_render_show_hide_more_links("similar_services", "similar_services_hidden", 10) -%>
				</p>
			<% end %>
		<% else %>
			<p class="none_text">None</p>
		<% end %>
		
	</div>
	<b class="xbottom"><b class="xb5"></b><b class="xb6"></b><b class="xb7"></b><b class="xb1"></b></b>
</div>