<%

# BioCatalogue: app/views/services/examples.html.erb
#
# Copyright (c) 2011, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>


<div id="service-examples-tabs" class="tabbertab">

  <%= render :partial => 'tabs_bar' %>

  <%= tabs_tag(:builder => MenuTabBuilder, :namespace => :example_tab ) do |tag| %>
      <%= tag.scripts 'Scripts', example_scripts_service_path(@service) %>
      <%= tag.data 'Data', example_data_service_path(@service) %>
      <% if @latest_version_instance.class == SoapService %>
            <%= tag.workflows 'Workflows', example_workflows_service_path(@service) %>
      <% end %>
  <% end %>

  <% current_tab(:example_tab) %>
  <% case current_tab(:example_tab).to_s %>
  <% when 'scripts' %>
      <%= render :partial => 'services/example_scripts_tab' %>
  <% when 'data' %>
      <%= render :partial => 'services/example_data_tab' %>
  <% when 'workflows' %>
      <% if @latest_version_instance.class == SoapService %>
          <%= render :partial => 'services/example_workflows_tab' %>
      <% end %>
  <% else %>
      <%= render :partial => 'services/example_scripts_tab' %>
  <% end %>
</div>
