<%

# BioCatalogue: app/views/services/index.html.erb
#
# Copyright (c) 2008, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<% t "Browse Services" -%>

<div style="border-bottom: 1px solid #DDD; padding-bottom: 0.8em; margin: 0;">
	<%= render :partial => 'index_tag_cloud' %>
</div>

<a name="browse"></a>

<div style="margin-top: 1em;">

	<% unless @filter_message.blank? %>
		<p class="box_info_standout" style="text-align: center; padding: 0.3em 0.5em;">
			<%= h(@filter_message) -%>
		</p>
	<% end %>
	
	<div>
	
		<!-- Left column -->
		<div style="float: left; width: 20%;">
			<%= render :partial => 'index_facets' %>
		</div>
		
		<!-- Right column -->
		<div style="float: right; width: 78%;">
			<div style="margin-top: 5px;">
				<span class="inline-block" style="float:right; margin-left: 2em;">
					<%= render :partial => 'index_sortby' %>
				</span>
				
				<%= render :partial => 'widgets/pagination_top', :locals => { :paginated_items => @services } %>
			</div>
			
			<div id="latest_services" style="margin: 1em 0;">
				<%= render :partial => "listing", :locals => { :items => @services } %>
			</div>
			
			<%= render :partial => 'widgets/pagination_bottom', :locals => { :paginated_items => @services } %>
		</div>
		
		<span class="clear"></span>
	
	</div>
	
</div>

<br/>
