<%

# BioCatalogue: app/views/services/index.html.erb
#
# Copyright (c) 2008, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<% t "Browse Services" -%>

<center>
	<% rounded "#E9F7CC", "#000", "80%" do %>
	
		<div class="box_info" style="padding: 0.4em 0.6em; margin: 0;">
			<span style="float:right; font-size: 0.7em;">[ <%= link_to("See All Tags", tags_index_path) -%> ]</span>
			<h3>
				<b>Top <%= pluralize(@tags.length, "tag") -%> on BioCatalogue</b>
			</h3>
			
			<%= generate_tag_cloud(@tags, "weighted", :tag_cloud_style => "margin-top: 0.6em;") -%>
		</div>
	
	<% end %>
</center>

<br/>

<span style="float: right;">
	<%= link_to 'Submit a Service', new_service_path -%>
</span>

<h1>Browse Web Services</h1>

<%= render :partial => 'index_facets' %>

<br/>
<br/>

<%= render :partial => 'widgets/pagination_top', :locals => { :paginated_items => @services } %>

<div id="latest_services" style="margin: 1em 0;">
	<%= render :partial => "listing", :locals => { :items => @services } %>
</div>

<%= render :partial => 'widgets/pagination_bottom', :locals => { :paginated_items => @services } %>
