<%

# BioCatalogue: app/views/services/show.html.erb
#
# Copyright (c) 2008, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<% t "#{h @service.name} (#{@service.service_types.to_sentence}) [Provided by: #{h(@service.providers.map{|p| p.name}.to_sentence)}]" -%>

<span style="float: right;"><%= link_to("permalink", service_url(@service)) -%></span>

<h1>
	Service: <%= h @service.name -%>
	<%= service_type_badges(@service.service_types) -%>
	<%= service_location_flags(@service) -%>
</h1>

<div class="tabber" style="margin-top:1.5em;">
	
  <div class="tabbertab">
    <h3>Overview</h3>
		
		<!-- Left column -->
		<div style="float: left; width: 70%;">
			<p>
				<b>Aliases:</b>
				<br/>
				<% unless (aliases = all_name_annotations_for_service(@service)).empty? %>
					<% aliases.each do |al| %>
						<%= h(al.value) -%><br/>
					<% end %>
				<% else %>
					<span class="none_text">none</span>
				<% end %>
			</p>
			
			<% if false %>
			<p>
			  <b>Unique code:</b>
			  <%=h @service.unique_code %>
			</p>
			<% end %>
			
			<p>
				<b>Provider:</b>
				<br/>
				<% @service.providers.each do |provider| %>
					<%= link_to(h(provider.name), service_provider_path(provider)) %>
					<br/>
				<% end %>
			</p>
		
			<p>
				<b>Location:</b>
				<br/>
				<% @service.service_deployments.each do |s_d| %>
					<% unless (loc = s_d.location).blank? -%>
						<%= h s_d.location -%>
						<%= flag_icon_from_country(s_d.country, loc, 'margin-left: 0.5em;') -%>
						<br/>
					<% end %>
				<% end %>
			</p>
			
			<p>
				<b>Submitted by:</b>
				<br/>
				<%= link_to(h(@service.submitter.display_name), user_path(@service.submitter)) %>
				(<%= distance_of_time_in_words_to_now(@service.created_at) -%> ago)
			</p>
			
			<p>
				<b>Endpoint:</b>
				<br/>
				<% @latest_version.service_deployments.each do |s_d| -%>
					<%= link_to(s_d.endpoint, s_d.endpoint, :popup => true) -%>
				<% end %>
			</p>
			
			<%= render :partial => "#{@latest_version_instance.class.to_s.pluralize.underscore}/show_service_overview_metadata", 
				 	 			 :locals => { :service_version_instance =>  @latest_version_instance } %>
			
			<br/>
			
			<%= render :partial => "annotations/descriptions",
								 :locals => { :annotatable => @latest_version_instance } -%>
		</div>
		
		<!-- Right column -->
		<div style="float: right; width: 27%;">
			<div class="box_info_standout" style="margin-bottom: 1em; font-weight: bold; text-align: center; font-size: 1.2em;">
				<%= pluralize(total_number_of_annotations_for_service(@service, "User"), "user annotation") + " in total" -%>
			</div>
				
			<%= render :partial => "annotations/tags_box",
								 :locals => { :annotatable => @service } -%>
			
		</div>
		
		<span class="clear"></span>	
  </div>
	
	<%= render :partial => "#{@latest_version_instance.class.to_s.pluralize.underscore}/show_service_tabs", 
					 	 :locals => { :service_version_instance =>  @latest_version_instance } %>

</div>
