<%

# BioCatalogue: app/views/services/show.html.erb
#
# Copyright (c) 2009-2010, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>


<%= render :partial => 'services/tabs/tabs_common' %>
<div id="service-tabs" class="tabberlive" style="margin-top: 1.5em;">

  <%= render :partial => 'tabs_bar' %>

  <% current_tab(:service).to_s %>
  <% case current_tab(:service).to_s %>
  <% when 'overview' %>
    <%= render :partial => "services/tabs/overview" %>
  <% when 'service_endpoint' %>
      <%= render :partial => "#{@latest_version_instance.class.to_s.pluralize.underscore}/show_service_tabs",
      				 	 :locals => {  :service_version_instance =>  @latest_version_instance } %>
  <% when 'examples' %>
    <%= render :partial => "services/tabs/examples_tab" -%>
  <% when 'monitoring' %>
    <%= render :partial => "services/tabs/monitoring_tab" -%>
  <% when 'history' %>
	<%= render :partial => "services/tabs/news_tab" -%>
  <% when 'examples' %>
    <%= render :partial => "services/tabs/examples" -%>
  <% when 'data' %>
      <%= render :partial => "services/tabs/example_data_tab" -%>
  <% when 'scripts' %>
    <%= render :partial => "services/tabs/example_scripts_tab" -%>
  <% when 'workflows' %>
    <%= render :partial => "services/tabs/example_workflows_tab" -%>
  <% end %>
</div>

