<p>
  <b>Service types:</b>
  <%= @all_service_types.to_sentence %>
</p>

<p>
  <b>Unique code:</b>
  <%=h @service.unique_code %>
</p>

<p>
  <b>Service Name:</b>
  <%=h @service.name %> 
</p>

<% render :partial => "#{@latest_version_instance.class.to_s.pluralize.underscore}/structure", :locals => { :service_versionified =>  @latest_version_instance } %>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
