<%

# BioCatalogue: app/views/services/show.html.erb
#
# Copyright (c) 2009, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<% t "#{display_name(@service)} (#{@service.service_types.to_sentence}) [Provided by: #{h(@service.providers.map{|p| display_name(p)}.to_sentence)}]" -%>

<h1>
	<span style="float:right; font-size: 85%; padding-top: 0.2em;">
		<%= render :partial => 'services/stats_bar', :locals => { :service => @service } -%>
	</span>
  <%= generic_icon_for(:service, 'margin-right: 0.3em;', "Web Service") -%>
	<span style="vertical-align: middle;"><%= display_name(@service) -%></span>
	<%= service_type_badges(@service.service_types) -%>
	<%= service_location_flags(@service) -%>
</h1>
			
<table style="width: 100%;">
	<tr>
		<td style="vertical-align: top;">
			<div>
				<%= render :partial => "annotations/name_aliases",
									 :locals => { :annotatable => @service,
																:name_annotations => all_alternative_name_annotations_for_service(@service) } -%>
			</div>
				
			<div style="margin-top: 1em; margin-bottom: 0.3em;">
				<%= render :partial => "annotations/categories", 
									 :locals => { :service => @service } -%>
			</div>
		</td>
		<td style="text-align: right; width: 185px;">
			<div style="text-align: right;">
				<table style="width: 185px; margin-bottom: 1em;">
					<tr>
						<td style="text-align: right; width: 80px;">
							<%= link_to("permalink", service_url(@service), :style => "font-size: 85%;") -%>
					
							<br/><br/>
							
							<%= link_to "View the comments on this service", 
													service_url(@service, :anchor => "disqus_thread"),
													:style => "font-size: 85%;" -%>
						</td>
						<td style="text-align: right; padding-left: 25px; width: 50px;">
							<%= service_latest_status_symbol(@service) -%>
						</td>
					</tr>
				</table>
			</div>
		</td>
	</tr>
</table>

<div class="toolbar">
	<% if BioCatalogue::Auth.allow_user_to_curate_thing?(current_user, @service) %>
  <%= link_to(image_tag(icon_filename_for(:delete)) + content_tag(:span, ' Remove Service'), 
							service_path(@service), 
							:class => "button_slim",
							:method => :delete, 
							:confirm => "Are you sure you want to remove this service from the BioCatalogue? This will delete everything to do with this service, including all metadata provided by the community.") -%>
	<% end %>
	
	<span class="inline-block" style="vertical-align: middle; margin-left: 2em; margin-bottom: 0.3em;">
		<%= render :partial => "services/annotation_counts",
							 :locals => { :service => @service } -%>
	</span>
</div>

<div id="service-tabs" class="tabber" style="margin-top: 1.5em;">
	
  <div id="tab-overview" class="tabbertab">
    <h3>Overview</h3>
		
		<!-- Left column -->
		<div class="service_properties" style="float: left; width: 67%;">
			<% if false %>
			<p>
			  <b>Unique code:</b>
			  <%=h @service.unique_code %>
			</p>
			<% end %>
			
			<% if !@soaplab_service.nil? or is_soaplab_service?(@service) %>
				<div class="box_info_standout" style="text-align:center;">
					This looks like a <b>Soaplab</b> service.
					<%= link_to_function "Click here for more info and guidance on how to use this service" + expand_image, visual_effect(:toggle_blind, "about_soaplab", :duration => 0.3), :style => "text-decoration:none;" %>
					<div id="about_soaplab" style="display:none;">
						<%= render :partial => "soaplab_servers/about_soaplab" -%>
					</div>
				</div>
			<% end %>
			
			<% if is_biomoby_service?(@service)%>
				<div class="box_info_standout" style="text-align:center;">
					This looks like a <b>BioMoby</b> service. We are working on providing better support and documentation for BioMoby services.
					<br/>
					<b>
						<%= link_to_function "Click here for more info and guidance on how to use this service" + expand_image, visual_effect(:toggle_blind, "about_biomoby", :duration => 0.3), :style => "text-decoration:none;" %>
					</b>
					<div id="about_biomoby" style="display:none;">
						<%= render :partial => "services/about_biomoby" -%>
					</div>
				</div>
			<% end %>
				
			<p style="margin-top: 0.5em;">
				<b>Provider:</b>
				<br/>
				<% @service.providers.each do |provider| %>
					<%= link_to(display_name(provider), service_provider_path(provider)) %>
					<br/>
				<% end %>
			</p>
		
			<p>
				<b>Location:</b>
				<br/>
				<% @service.service_deployments.each do |s_d| %>
					<% unless (loc = s_d.location).blank? -%>
						<%= h s_d.location -%>
						<%= flag_icon_from_country(s_d.country, :text => loc) -%>
						<br/>
					<% end %>
				<% end %>
			</p>
			
			<p>
				<b>Submitter / Source:</b>
				<br/>
				<%= submitter_link(@service.submitter, "margin-right: 0.5em; vertical-align: middle;") %>
				<span class="ago" style="vertical-align: baseline;">
					(<%= distance_of_time_in_words_to_now(@service.created_at) -%> ago)
				</span>
			</p>
			
			<p>
				<b>Endpoint:</b>
				<br/>
				<% @latest_version.service_deployments.each do |s_d| -%>
					<%= link_to(h(s_d.endpoint), s_d.endpoint, :popup => true) -%>
				<% end %>
			</p>
			
			<%= render :partial => "#{@latest_version_instance.class.to_s.pluralize.underscore}/show_service_overview_metadata", 
				 	 			 :locals => { :service_version_instance => @latest_version_instance } %>
			
			<div class="property">
				<%= render :partial => "annotations/documentation_urls",
									 :locals => { :annotatable => @latest_version_instance } -%>
			</div>
			
			<div class="property">
				<%= render :partial => "annotations/descriptions",
									 :locals => { :annotatable => @latest_version_instance } -%>
			</div>
			
			<div class="property">					 
				<%= render :partial => "annotations/licenses",
									 :locals => { :annotatable => @latest_version_instance } -%>
			</div>
			
			<div class="property">					 
				<%= render :partial => "annotations/costs",
									 :locals => { :annotatable => @latest_deployment } -%>
			</div>
			
			<div class="property">					 
				<%= render :partial => "annotations/usage_conditions",
									 :locals => { :annotatable => @latest_deployment } -%>
			</div>			
			
			<div class="property">					 
				<%= render :partial => "annotations/contacts",
									 :locals => { :annotatable => @latest_deployment } -%>
			</div>
			
			<div class="property">					 
				<%= render :partial => "annotations/publications",
									 :locals => { :annotatable => @latest_version_instance } -%>
			</div>
			
			<div class="property">					 
				<%= render :partial => "annotations/citations",
									 :locals => { :annotatable => @latest_version_instance } -%>
			</div>
			
			<% if false %>
			<div class="property">			 
				<%= render :partial => "annotations/other_annotations",
								 	 :locals => { :annotatable => @service } -%>
			</div>
			<% end %>
		</div>
		
		<!-- Right column -->
		<div style="float: right; width: 30%;">
		
			<%= render :partial => "soaplab_servers/soaplab_server_box" -%>
				
			<%= render :partial => "annotations/tags_box",
								 :locals => { :annotatable => @service } -%>
			
			<div id="ratings">
				<%= render :partial => "annotations/ratings_box",
								 	 :locals => { :annotatable => @service,
																:categories_config => BioCatalogue::Annotations.get_ratings_categories_config_for_model("Service") } -%>
			</div>
			
			<%= render :partial => "favourited_box" -%>
			
			<%= render :partial => "similar_services_box" -%>
		</div>
		
		<span class="clear"></span>
  </div>
  
	
	<%= render :partial => "#{@latest_version_instance.class.to_s.pluralize.underscore}/show_service_tabs", 
					 	 :locals => { :service_version_instance =>  @latest_version_instance } %>

	
  <%= render :partial => "services/monitoring_tab" -%>
 
</div>

<%= render :partial => 'shared/tabber_startup' -%>

<div style="margin-top: 2em; border-top: 2px solid #CCF; padding-top: 1em;">
	<h2>Comments</h2>
	
	<a name="comments"><%= disqus_comment_counts -%></a>
	
	<%= disqus_thread -%>
</div>
