<% t "#{h @service.name} (#{@service.service_types.to_sentence}) [Provided by: #{h(@service.providers.to_sentence)}]" -%>

<span style="float: right;"><%= link_to("permalink", service_url(@service)) -%></span>

<h1>
	Service: <%= h @service.name -%>
	<%= service_type_badges(@service.service_types) -%>
</h1>

<p>
  <b>Unique code:</b>
  <%=h @service.unique_code %>
</p>


<p>
  <b>Service types:</b>
  <%= @all_service_types.to_sentence %>
</p>

<% render :partial => "#{@latest_version_instance.class.to_s.pluralize.underscore}/structure", :locals => { :service_version_instance =>  @latest_version_instance } %>

