<%

# BioCatalogue: app/views/soap_operations/_listing.html.erb
#
# Copyright (c) 2010, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<div class="listings">
	<% items.each do |op| %>
	
		<div id="<%= "soap_operation_#{op.id}" -%>" class="listing_item <%= op.archived? ? 'archived' : '' -%>">
			
			<div class="simple_listing">
				
				<p class="name">
					<%= link_to(display_name(op), op) -%>
				</p>
			
				<% if op.archived? %>
				
	        <p class="archived_status_text">
	          This SOAP operation has been archived because it was removed or renamed in the SOAP service's WSDL document.
	        </p>
				
				<% else %>
				
					<div style="margin-top: -0.4em;">
						<%= render :partial => "annotations/name_aliases",
											 :locals => { :annotatable => op,
																		:show_add_option => false,
																		:show_modify_options => false,
																		:show_none_text => false } -%>
					</div>
					
					<p class="detail faded">
						<%= pluralize(op.soap_inputs.length, 'input') -%>
						<span class="faded" style="margin: 0 0.2em; vertical-align: middle;">|</span>
						<%= pluralize(op.soap_outputs.length, 'output') -%>
					</p>
				
					<% if op.associated_service %>
						<p class="detail">
							<b>Part of Service:</b> 
              <%= link_to display_name(op.associated_service), op.associated_service -%>
						</p>
					<% end %>
				
					<div class="box_annotations detail">
						<% unless (desc = op.preferred_description).blank? %>
							<% rounded(annotation_text_item_background_color, "#333", "100%") do %>
								<div class="text">
									<%= annotation_prepare_description(CGI.escapeHTML(desc), true, 500, false) -%>
								</div>
							<% end %>
						<% end %>
					</div>
				
					<div class="detail">
						<table>
							<tr>
								<td style="width: 17em; line-height: 1.5; padding-top: 1px; text-align: left;">
									<b>Tags on this SOAP Operation:</b>
								</td>
								<td>
									<%= render :partial => "annotations/tags_flat",
												 		 :locals => { :annotatable => op } -%>
								</td>
							</tr>
						</table>
					</div>
					
				<% end %>
			
		  </div>
			
		</div>
		
	<% end %>
</div>
