<%
  
  # BioCatalogue: app/views/soap_operations/show.html.erb
  #
  # Copyright (c) 2009-2010, University of Manchester, The European Bioinformatics 
  # Institute (EMBL-EBI) and the University of Southampton.
  # See license.txt for details
  
%>

<h1>
	SOAP Operations on Service:
	<%= link_to display_name(@soap_service.service), service_url(@soap_service.service, :anchor => "operations") -%>
</h1>

<div style="margin-bottom: 1.5em;">
  <%= link_to image_tag(icon_filename_for(:arrow_backward)) + content_tag(:span, " Back To Service \"#{display_name(@soap_service.service)}\""),
						  service_url(@soap_service.service, :anchor => "operations"), :class => "button_slim", :style => "margin-right:1.5em;" -%>
</div>

<a name='operations_top'></a>
	
<div class="operations_quick_browse_box">
	<span class="heading">
		Quick Browse:
	</span>
	<% @soap_service.soap_operations.each do |op| %>
		<span style="margin: 0 0.4em;">
			<%= link_to(display_name(op), op) -%>
		</span>
	<% end %>
</div>

<div class="vtabs_container">
	
  <!-- TABS BAR -->  
  <div class="vtabs_tab_bar">
    
    <div>
    	<ul>
      <% @soap_service.soap_operations.each do |op| %>
        <li class="<%= op == @soap_operation ? 'active' : '' -%>" title="<%= tooltip_title_attrib(display_name(op)) -%>">
					<% op_label = content_tag(:span, display_name(op), :class => 'name') + "<br/>" + content_tag(:span, "#{pluralize(op.soap_inputs.length, 'input')}, #{pluralize(op.soap_outputs.length, 'output')}", :class => 'detail') -%>
          <%= link_to op_label, op -%>
        </li>
      <% end %>
			</ul>
    </div>
    
  </div>
   
  <!-- MAIN AREA-->
  <div class="vtabs_tab_content">
  	
		<h1>SOAP Operation: <%= display_name(@soap_operation) -%></h1>
	
    <div class="operation_box">
			
			<% if false %>
			<p class="operation_heading">
				<b>SOAP Operation:</b>
				<span class="operation_name"><%= display_name(@soap_operation) -%></span>
			</p>
			<% end %>
			
			<div>
				<div style="float: left; width: 73%;">
					
					<div style="margin-top: 0.3em; margin-bottom: 2em;">
						<%= render :partial => "annotations/name_aliases",
										 	 :locals => { :annotatable => @soap_operation,
																		:show_promote_option => false } -%>
					</div>
					
					<div>
						<b>Parameter Order:</b>
						<% unless @soap_operation.parameter_order.blank? %>
							<%= h(@soap_operation.parameter_order) -%>
						<% else %>
							<span class="none_text">unknown</span>
						<% end %>
					</div>
					
					<div>
						<%= render :partial => "annotations/descriptions",
										 	 :locals => { :annotatable => @soap_operation } -%>
					 
					</div>
					
					<div>
						<%= render :partial => "annotations/other_annotations",
						 		 			 :locals => { :annotatable => @soap_operation, :show_add => false } -%>
					</div>
					
				</div>
				
				<div style="float: right; width: 24%; font-size: 85%;">
					<%= render :partial => "annotations/tags_box",
						 				 :locals => { :annotatable => @soap_operation } -%>
				</div>
				
				<span class="clear"></span>
			</div>
		
			<br/>
			
			<span style="font-size: 108%;"><b>Inputs:</b></span>
			<div class="box_indented_with_bar" style="margin: 0.7em 0 0 1em;">
				<% @soap_operation.soap_inputs.each do |input| %>
				
					<% uniq_id = "soap_input_#{input.id}" %>
					
					<a name='<%= uniq_id -%>'></a>
					
					<div class="port">
																				
						<div>
							<%= create_expand_collapse_link(uniq_id, 
                                        :link_text => "<b>SOAP Input: <span class='operation_name'>#{display_name(input)}</span></b>", 
                                        :icon_float => "right",
                                        :class => "collapsable_title") -%>
						</div>
						
						<div id="<%= uniq_id -%>" style="display: none;">
						
							<div style="float: left; width: 73%;">
								<% if false %>
								<div style="margin-bottom: 0.6em;">
									<b>SOAP Input:</b>
									<span class="operation_name"><%= display_name(input) -%></span>
								</div>
								<% end %>
								
								<div style="margin-bottom: 1em;">
									<%= render :partial => "annotations/name_aliases",
											 	 		 :locals => { :annotatable => input,
																					:show_promote_option => false } -%>
								</div>
									 
								<%= render :partial => "annotations/descriptions",
								 	 				 :locals => { :annotatable => input } -%>
								
								<%= render :partial => "annotations/formats",
								 	 				 :locals => { :annotatable => input } -%>
													 
								<%= render :partial => "annotations/examples",
								 	 				 :locals => { :annotatable => input } -%>
								
								<%= render :partial => "soap_services/computational_type_info",
								 	 				 :locals => { :thing => input } -%>
								
								<%= render :partial => "annotations/other_annotations",
							 		 		 		 :locals => { :annotatable => input, :show_add => false } -%>
								
							</div>
							
							<div style="float: right; width: 24%; font-size: 85%;">
								<%= render :partial => "annotations/tags_box",
									 				 :locals => { :annotatable => input } -%>
							</div>
							
							<span class="clear"></span>
						
						</div>
							
					</div>
					
				<% end %>
			</div>
			
			<br/>
					
			<span style="font-size: 108%;"><b>Outputs:</b></span>
			<div class="box_indented_with_bar" style="margin: 0.7em 0 0 1em;">
				<% @soap_operation.soap_outputs.each do |output| %>
				
					<% uniq_id = "soap_output_#{output.id}" %>
					
					<a name='<%= uniq_id -%>'></a>
					
					<div class="port">
						
						<div>
							<%= create_expand_collapse_link(uniq_id, 
                                        :link_text => "<b>SOAP Output: <span class='operation_name'>#{display_name(output)}</span></b>", 
                                        :icon_float => "right",
                                        :class => "collapsable_title") -%>
						</div>
						
						<div id="<%= uniq_id -%>" style="display: none;">
						
							<div style="float: left; width: 73%;">
								<% if false %>
								<div style="margin-bottom: 0.6em;">
									<b>SOAP Output:</b>
									<span class="operation_name"><%= display_name(output) -%></span>
								</div>
								<% end %>
								
								<div style="margin-bottom: 1em;">
									<%= render :partial => "annotations/name_aliases",
											 	 		 :locals => { :annotatable => output,
																					:show_promote_option => false } -%>
								</div>
								
								<%= render :partial => "annotations/descriptions",
								 	 				 :locals => { :annotatable => output } -%>
													 
							  <%= render :partial => "annotations/formats",
								 	 				 :locals => { :annotatable => output } -%>
													 
								<%= render :partial => "annotations/examples",
								 	 				 :locals => { :annotatable => output } -%>
								
								<%= render :partial => "soap_services/computational_type_info",
								 	 				 :locals => { :thing => output } -%>
								
								<%= render :partial => "annotations/other_annotations",
							 		 		 		 :locals => { :annotatable => output, :show_add => false } -%>
							</div>
							
							<div style="float: right; width: 24%; font-size: 85%;">
								<%= render :partial => "annotations/tags_box",
									 				 :locals => { :annotatable => output } -%>
							</div>
						
							<span class="clear"></span>
						
						</div>
											
					</div>
					
				<% end %>
			</div>
		
		</div>
		
  </div>
</div>

<p style="margin: 0 0 1.5em 0; font-size: 93%; text-align: right;">
	<a href="#operations_top">Back to top</a>
</p>
