<%

# BioCatalogue: app/views/user_mailer/responsibility_request_approval.html.erb
#
# Copyright (c) 2010, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>


Dear <%= BioCatalogue::Util.display_name(@owner) -%>,

<p>
The user, <%= link_to BioCatalogue::Util.display_name(@user), url_for( :only_path => false,
															:host => @base_url,
            												:controller => 'users',
            												:action => 'show',
															:id => @user.id)  -%> 

, approved a request from <%= link_to BioCatalogue::Util.display_name(@req.user), url_for( :only_path => false,
															:host => @base_url,
            												:controller => 'users',
            												:action => 'show',
															:id => @req.user.id)   -%> to take responsibility for service,  <%= link_to BioCatalogue::Util.display_name(@service), url_for(:only_path => false,
																							:host => @base_url,
            																				:controller => 'services',
            																				:action => 'show',
																							:id => @service.id) -%> 
																							
.
</p>

<p>
No further action is required on your part
</p>


Kind Regards,</br>

- The BioCatalogue Team
<p/>
<%= link_to SITE_BASE_HOST, SITE_BASE_HOST -%>