<%

# BioCatalogue: app/views/rest_services/new.html.erb
#
# Copyright (c) 2009, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<% t "New REST Service" -%>

<h1>New REST Service</h1>

<div style="width: 100%;">

  <!--BASE_URL HELP BOX-->
  <div class="box_info_standout" style="width: 45%; float: right; margin-right: 2em;">
    <b>Note:</b> please do not specify parameterised URLs or URLs to specific
    functionality. Only provide the base URL to the REST service.
    <br/><br/>
    Example:
    <br/>
    <ul style="margin-left: 1em;">
      <li>Bad URL: http://www.ebi.ac.uk/Tools/webservices/rest/dbfetch/{db}/{id}</li>
      <li>Good URL: http://www.ebi.ac.uk/Tools/webservices/rest/dbfetch/</li>
    </ul><br/>

    You will be able to specify parameterised endpoints after registration.
  </div>

  <!--FORM-->
  <% form_for :rest_service, :url => { :action => :create } do |f| %>
    <%= f.error_messages %>

    <div style="width: 45%; float: left">
      <!--STEP 1-->
      <p class="step_text">
        1. Specify the base URL of the REST service:
        <span class="required">*</span>
      </p>

      <p>
        <%= text_field_tag "endpoint", params[:endpoint] || "http://",
             :style => "width: 99%" -%>
      </p>

      <!--STEP 2-->
      <p class="step_text">2. Provide more information on the REST Service:</p>

      <p class="high_linespaced">
        What is the <b>official</b> or <b>common name</b> of this REST service?
        <span class="required">*</span>
        <br/>
        <%= text_field_tag "rest_service[name]", params[:rest_service] ?
            h(params[:rest_service][:name]) : "", :style => "width: 99%;" %>

        <%= render :partial => 'annotations/service_submission_fields' -%>
      </p>

      <!--SUBMIT-->
      <p style="margin-top: 1.5em; text-align: center;">
        <%= f.submit "Submit", :disable_with => "Submitting..." -%>
      </p>

    </div>

  <% end %>
  
</div>
