<%

# BioCatalogue: app/views/rest_representations/_output_representations.html.erb
#
# Copyright (c) 2008, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<b>Output Representations:</b>
<%= add_representations_by_popup(method, "response", :class => "button_slim") %>

<div class="box_indented_with_bar" style="margin: 1em 0 0 1.5em;">
  
  <% unless method.response_representations.blank? %>          
    <% method.response_representations.each do |rep| %>
      
      <div class="port">
        <% if BioCatalogue::Auth.allow_user_to_curate_thing?(current_user, rep, :rest_method => method) %>
          <span class="actions_link_container">
            <%= link_to "Delete", rest_representation_url(rep, :rest_method_id => method.id, :http_cycle => "response"),
                :confirm => "Are you you want to delete this representation?",
                :method => :delete,
                :style => "width: 47px; padding:2px;",
                :class => "delete_link" %>
            </span>
        <% end %>

        <% uniq_id = "R#{resource.id}M#{method.id}OR#{rep.id}" %>
        <% link_content = "<b>" + rep.content_type + "</b>" %>
                    
        <%= create_expand_collapse_link(uniq_id, 
                                        :link_text => link_content, 
                                        :icon_float => "right",
                                        :class => "collapsable_title") -%>

        <div id='<%=h uniq_id %>' style="display:none;">
          <span class="clear"></span>
                              
          <div style="; float: right; width: 24%; font-size: 85%;">                    
            <%= add_submitter_text(method.response_representations.find(rep.id)) %>

            <br/><br/><br/>
            <%= render :partial => "annotations/tags_box",
                       :locals => { :annotatable => rep } -%>
          </div>
          
          <div style="width:73%;">                        
            <%= render :partial => "annotations/descriptions",
                       :locals => { :annotatable => rep } -%>
            
            <%= render :partial => "annotations/examples",
                       :locals => { :annotatable => rep } -%>
              
            <br />
          </div>
        </div>                       
      </div>
    <% end %>
    
  <% else %>
    <span class="none_text">None Specified</span>
  <% end %>

  <span class="clear"></span> 
</div>
