<%

# BioCatalogue: app/views/search/show.html.erb
#
# Copyright (c) 2008, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<% all_search = BioCatalogue::Search::ALL_SCOPE_SYNONYMS.include?(@scope) %>

<% if @query.blank? %>
	<h1>Search</h1>
<% else %>
	<% t "#{@scope.titleize} &#45; Results for '#{h(@query)}'" -%>
	<% if all_search %>
		<h1>Search Results</h1>
	<% else %>
		<h1>Search Results <span class="faded">(<%= @scope.titleize -%> only)</span></h1>
	<% end%>
<% end %>

<div>
	
	<% if false %>
	<%= render :partial => 'search_form' %>
	<% end %>
	
	<% if @query.blank? %>
		<p>
			<%= search_provide_query_text -%>
		</P>
	<% else %>
		<% unless @results.nil? %>
			<p>
				Search query:
				"<b><%= h @query -%></b>"
				returned <%= pluralize(@results.total, "item") -%>
			</p>
		<% end %>
	<% end %>
	
</div>

<% unless @query.blank? %>

	<% if @results.nil? or @results.total == 0 %>
	
	  <p class="none_text">No items found</p>
	  
	<% else %>
	
		<% if all_search %>
		
			<div id="search_results" class="tabber">
				<% @results.result_scopes.each do |result_scope| %>
				
					<% 
						 visible_result_scope = result_scope.titleize
						 items = search_item_ids_to_objects(@results.paged_item_ids_for(result_scope, 1, PAGE_ITEMS_SIZE), result_scope)
						 count = @results.count_for(result_scope)
						 more_items = count > PAGE_ITEMS_SIZE 
					%>
					
					<% unless items.empty? %>
						<div id='<%= "tab-#{result_scope}" -%>' class="tabbertab">
							<% count_text = more_items ? "#{items.length} of #{count}" : "#{items.length}"  %>
					    <h3><%= "#{visible_result_scope} (#{count_text})" -%></h3>
							
							<table style="width:100%; margin: 0 0 1.5em 0;">
								<tr>
									<td style="color: #555;">
										<% if more_items %>
											<%= "Showing the top #{items.length} items out of #{count} in total" -%>
										<% end %>
									</td>
									<td style="text-align: right;">
										<%= render :partial => "listing_type_switcher_link", :locals => { :result_scope => result_scope, :style => (more_items ? "margin-right: 1.5em;" : "") } -%>
										
										<% if more_items %>
											<%= link_to(content_tag(:span, "Next page of results ") + image_tag(icon_filename_for(:arrow_forward)), 
																	search_url(:q => @query, :scope => result_scope, :page => 2),
																	:class => "button_slim") -%>
										<% end %>
									</td>
								</tr>
							</table>
							
							<%= render :partial => "#{result_scope}/listing", :locals => { :items => items } %>
							
							<% if more_items %>
								<p style="text-align: right;">
									<%= link_to(content_tag(:span, "Next page of results ") + image_tag(icon_filename_for(:arrow_forward)), 
																	search_url(:q => @query, :scope => result_scope, :page => 2),
																	:class => "button_slim") -%>
								</p>
							<% end %>
							
					  </div>
					<% end %>
					
				<% end %>
			</div>
	
			<%= render :partial => 'shared/tabber_startup' -%>
		
		<% else %>
		
			<% 
				 result_scope = @scope
				 item_ids = @results.paged_item_ids_for(result_scope, @page, PAGE_ITEMS_SIZE)
				 items = search_item_ids_to_objects(item_ids, result_scope)
			%>
			
			<span class="inline-block" style="float:right; margin-left: 2em; margin-top: 2em; text-align: right;">
				<%= render :partial => "listing_type_switcher_link", :locals => { :result_scope => result_scope } -%>
			</span>
			
			<%= render :partial => 'widgets/pagination_top', :locals => { :paginated_items => item_ids, :entry_name => @scope.gsub('_', ' ').singularize } %>
			
			<div id="search_results" style="margin: 2em 0;">
				<%= render :partial => "#{@scope}/listing", :locals => { :items => items } %>
			</div>
				
			<%= render :partial => 'widgets/pagination_bottom', :locals => { :paginated_items => item_ids } %>
		
		<% end%>
	
	<% end %>

<% end %>

<br />

