<%

# BioCatalogue: app/views/termsofuse/index.html.erb
#
# Copyright (c) 2008, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<h1><%= SITE_NAME -%> Terms Of Use</h1>

<br/>

<div id="terms_of_use">
	<h3>Glossary</h3>
  <ul>
  	<li>
  		<b>The <%= SITE_NAME -%></b>: The website provided at http://www.biocatalogue.org (or "Site") 
			and other supporting services provided by the <%= SITE_NAME -%> project.
		</li>
		<li>
  		<b>The <%= SITE_NAME -%> Team (or "We")</b>: The provider and management of The <%= SITE_NAME -%>.
		</li>
  	<li>
  		<b>User</b>: Person, institution or program using The <%= SITE_NAME -%>.
		</li>
		<li>
			<b>Member</b>: Person, institution or program who has an account on The <%= SITE_NAME -%>.  
      Members are registered users who may contribute to the content of the
      Site by registering web services, adding descriptions/tags/etc, rating 
      services, favouriting services and so on. All contributions by Members are
      identified, and credited, back to them through their <%= SITE_NAME -%> account.
		</li>
	</ul>
	
	<br/>
	
	<h3>Terms Of Use</h3>
	
	<h4>Member Accounts</h4>
	<ol>
		<li>
			Anyone may sign up for an account and become a Member of The <%= SITE_NAME -%> for free.
		</li>
		<li>
			All Member profiles are public and therefore can be viewed by
      anyone and be indexed by search engines such as Google. However, certain private 
			account information like usernames, passwords and registered email addresses are 
			never exposed publicly.
		</li>
		<li>
			Any personal information provided  will be handle in accordance with the United Kingdom's 
			Data Protection legislation. No personal data shall be made public without prior consent 
			from the User.
		</li>
	</ol>
	
	<h4>Content and Services</h4>
	<ol>
		<li>
			The <%= SITE_NAME -%> is available free of charge to be used by 
			any individual and for any purpose except where specific restrictions 
			are indicated.
		</li>
		<li>
			Users of The <%= SITE_NAME -%> agree not to attempt to use any part 
			of The <%= SITE_NAME -%> apart from through the service interfaces provided.
		</li>
		<li>
			We do not guarantee the accuracy of any data or software and services for any purpose and 
			accept no responsibility for consequences	of their use.
		</li>
		<li>
			Members may submit web services and metadata to The <%= SITE_NAME -%> for free.
		</li>
		<li>
			Member-posted content, unless source quoted, is licensed under a Creative Commons 
			Public Domain License
		</li>
		<li>
			The validity and authenticity of the content of any submissions is 
			the sole responsibility of the depositing Members.
		</li>
		<li>
			We do not guarantee copyrights, patent rights, brand rights,
			or any other rights belonging to third parties, towards the content appearing 
			on The <%= SITE_NAME -%>.
		</li>
		<li>
			We decline any responsibility concerning the content and use of other websites
			and web services reached from The <%= SITE_NAME -%>.
		</li>
		<li>
			We regard the nature of the work carried out by any individual User 
			as confidential, and shall make every reasonable attempt to prevent breaches of that 
			confidentiality.
		</li>
		<li>
			We do not accept responsibility for the consequences of any breach of 
			the confidentiality of The <%= SITE_NAME -%> by third parties who by any means gain illegitimate 
			access to information from The <%= SITE_NAME -%>.
		</li>
		<li>
			We will make all reasonable effort to maintain continuity of The <%= SITE_NAME -%> and 
			provide adequate warning of any changes or discontinuities. However, The <%= SITE_NAME -%> Team 
			accepts no responsibility for the consequences of any temporary or permanent discontinuity 
			to The <%= SITE_NAME -%>.
		</li>
		<li>
			We place no restrictions on the use or redistribution of the Member-generated content available 
			via The <%= SITE_NAME -%>. However, some of the content may be subject to patent, copyright, 
			or other intellectual property rights claimed by third parties. It is the responsibility 
			of Users of The <%= SITE_NAME -%> to ensure that their exploitation of the data does 
			not infringe the rights of such third parties.
		</li>
		<li>
			Anyone may use the source code of The <%= SITE_NAME -%> consistent with the BSD License 
			(unless licensed otherwise, in which case the relevant license is applicable).
		</li>
		<li>
			We require attribution for the use of The <%= SITE_NAME -%> in any subsequent product or service.
		</li>
		<li>
			Relevant law governing these Terms of Use is UK law. The <%= SITE_NAME -%> is controlled and offered from 
			its facilities in the United Kingdom. We make no representations that The <%= SITE_NAME -%> is appropriate or available 
			for use in other locations. Those who access or use The <%= SITE_NAME -%> from other jurisdictions do so at 
			their own volition and are responsible for compliance with local law.
		</li>
	</ol>
	
	<h4>Withdrawal / Take Down Policy</h4>
	<ol>
		<li>
			If any User exploits The <%= SITE_NAME -%> to a level that prevents, or looks set to prevent, 
			The <%= SITE_NAME -%> Team from providing its services to others, We may discontinue some or all services to that User. 
		</li>
		<li>
			If content submitted to The <%= SITE_NAME -%> is deemed illicit, offensive or inappropriate, We reserve the 
			right to immediately remove such content, and permanently withdraw the authorisation to access The <%= SITE_NAME -%>
			to the User(s) responsible. 
		</li>
		<li>
			If We receive proof of copyright violation or plagiarism, the relevant content will be removed immediately.
		</li>
		<li>
			Content may be withdrawn from The <%= SITE_NAME -%> at the request of the provider / copyright holder. 
		</li>
		<li>
			A notice of withdrawal will accompany any withdrawal of content by The <%= SITE_NAME -%> Team to the author of the content, 
			together with the reason for such withdrawal.
		</li>
		<li>
			Where the reason for take down or withdrawal is found to be unsubstantiated the content may be re-exposed into The <%= SITE_NAME -%>, 
			with any appropriate amendments to the content itself or access arrangements.
		</li>
	</ol>
	
	<h4>Preservation</h4>
	<ol>
		<li>
			For planning and scientific review purposes, We will keep records of usage and other metrics. We may use this information, together 
			with information from the content of The <%= SITE_NAME -%> in presentations, reports and other project material, in the accordance with 
			the Data Protection Act.
		</li> 
		<li>
			We may make information about particular software or web services available to third parties who supply the services, 
			in the accordance with the Data Protection Act.
		</li>
		<li>
			Logs of usage may also be maintained for the purposes of monitoring and improving The <%= SITE_NAME -%>, and measuring the impact a particular 
			service has on our resources. These logs will be kept in confidence and not made available to third parties. 
		</li>
		<li>
			Any feedback on The <%= SITE_NAME -%> will be treated as non-confidential unless the individual or organisation providing the feedback states otherwise.
		</li>
		<li>
			Withdrawn and deleted content are not removed permanently from The <%= SITE_NAME -%>, but are removed from public view and public consumption
			(including removed from the <%= SITE_NAME -%> search). However, they may still exist in backups and other operational data stores, and also exist
			in internet caches and search engines.
		</li>
	</ol>
	
	<p>
		These Terms of Use reflect the enduring principles under which The <%= SITE_NAME -%> are offered. We will not, without good reason, 
		alter them, and where alterations are inevitable, we will attempt to give reasonable notice of such alterations. However, we do reserve 
		the right to alter these Terms of Use at any time in order to ensure their appropriateness to the <%= SITE_NAME -%> mission.
		<br/><br/>
		Any questions or comments concerning these Terms of Use can be addressed to the <%= SITE_NAME -%> Team. 
	</p>
</div>