
<%

# BioCatalogue: app/views/curation/annotation_level.html.erb
#
# Copyright (c) 2010, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<%= render :partial => 'header', :locals => { :sub => "- Reports - Services Annotation Levels" } %>

<div class="box_info_standout center" style="margin: 1.5em auto; width: 680px;">
  Provides a graphical view of the annotation level for services in <%= SITE_NAME -%>.
  <%= link_to_function(("...more" + expand_image).html_safe, visual_effect(:toggle_blind, "about_ann_level", :duration => 0.3), :style => "text-decoration:none;").html_safe %>
	<div id="about_ann_level" style="display:none;text-align:left;">
		<h4>Annotation Level</h4>
			The annotation level is calculated as a ratio of the expected
			to the actual annotation coverage. The attributes
			taken into account for the calculation are :
			<div class="computational_type_details">
				<%= from_list_to_html(BioCatalogue::Curation::AnnotationLevel.unique_ann_attribute_list) -%>
			</div>
	</div>
</div>

<span class="header_left_bar" style="float:left;width:25%">
	<span class="actions_button">
		<ul class="p7menubar">
        	<li>
              	<a href="#" class="trigger">
                	<span style="vertical-align: middle;">Sort by</span>
                	<%= image_tag icon_filename_for(:dropdown), :alt=> "dropdown menu" -%>
              	</a>
				<ul>
	  				<li <%= sort_li_class_helper "created", "desc" %>>
        				<%= sort_link_helper "Created", "created", "desc"-%>
      				</li> <br/>
					<li <%= sort_li_class_helper "ann_level", "desc"%>>
        				<%= sort_link_helper "Annotation Level", "ann_level", "desc"-%>
      				</li>
       			</ul>
            </li>
		</ul>
	</span>
</span>

<div id="annotation_level" style="float:left;">
	<%= render :partial => 'annotation_levels_bar_view', :locals => {:services => @services} %>
</div>



<div style="float:left">
	<%= render :partial => 'widgets/pagination_bottom', :locals => { :paginated_items => @services } %>
</div>
