<%= render :partial => 'header', :locals => {:sub => "- Reports - ELIXIR Curation "} %>

<div class="box_info_standout center" style="margin: 1.5em auto; width: 700px;">
  This is a list of all services that have been annotated with an ELIXIR Description.<br>
  Those services with their service name highlighted in <span style="color:lightcoral">red</span> do
  not meet the criteria to be included in the <a href="https://elixir-registry.cbs.dtu.dk/#/">ELIXIR Registry</a> and
  so will be rejected from the <a href="/services/bmb.xml">Service Dump</a>.

</div>


<div style="margin: 0 auto; width: 100%">
  <% if @services.empty? %>
      <div class='none_text' style="text-align: center">No links flagged</div>
  <% else %>
      <table class="biocat_table" style="margin: 0 auto; width: 100%">
        <th> Service Name</th>
        <th> Has EDAM Operation?<br> e.g. <i>1. &lt;Operation&gt;(&lt;Category&gt;)</i></th>
        <th> Has EDAM Topic?<br> e.g <i>1. &lt;Topic&gt;(&lt;Category&gt;)</i></th>
        <th> Is not Archived?</th>
        <th> Has Contact URL or E-Mail?</th>
        <th> Has Homepage?</th>
        <% invalid_count = 0 %>
        <% @services.each do |service| %>
            <%
               g_service = service.service
               categories = g_service.annotations.select { |ann| ann.value_type == "Category" }.collect { |cat| cat.value.name }

               # Map the Services Categories to EDAM Topics and EDAM Operations
               edam_topics = []
               categories.each { |x| edam_topics << [x, map_categories_to_edam_topics(x)] }
               edam_topics.reject! { |c| c[1].empty? }
               edam_topics.uniq!
               operations = []
               categories.each { |x| operations << [x, map_categories_to_edam_operations(x)] }
               operations.reject! { |c| c[1].empty? }
               operations.uniq!

               # For the homepage we'll be using the documentation URL
               doc_link = (service.has_documentation_url? ? service.preferred_documentation_url : '')
               homepage = URI::extract(doc_link).first

               # Contact is a free text annotation and we need to extract JUST an email address or URL from it.
               # This takes the first. Splits by whitespace. Check each item for valid address.
               # Could make it loop over all contact annotations if the first one has neither email or url
               contact = g_service.list_of("contact").first
               unless contact.nil?
                 contacts = contact.split(" ")
                 contacts.select! { |element| ValidatesEmailFormatOf::validate_email_format(element) == nil }
                 if !contacts.empty?
                   contact_email = contacts.first
                 elsif contact =~ URI::regexp
                   contact_url = URI::extract(contact).last
                 end
               end
               valid = !operations.empty? &&
                       !edam_topics.empty? &&
                               !g_service.preferred_description.nil? &&
                                       !g_service.archived? &&
                                               !(contact_url.nil? && contact_email.nil?) &&
                                                       !homepage.nil?

            %>
            <tr>
              <% if valid %>
                  <td style="background-color: darkseagreen"><%= link_to(g_service.name, g_service) %></td>
              <% else %>
                  <td style="background-color: lightcoral"><%= link_to(g_service.name, g_service) %></td>
                  <% invalid_count += 1 %>
              <% end %>

              <% if operations.empty? %>
                  <td style="background-color: lightcoral"></td>
              <% else %>
                  <td style="background-color: darkseagreen">
                    <% operations.each_with_index do |op, i| %>
                        <%= i+1 %>. <%= op[1][:name]%> (<i><%= op[0] %></i>)<br>
                    <% end %>
                  </td>
              <% end %>

              <% if edam_topics.empty? %>
                  <td style="background-color: lightcoral"></td>
              <% else %>
                  <td style="background-color: darkseagreen">
                    <% edam_topics.each_with_index do |topic, i| %>
                        <%= i+1 %>. <%= topic[1][:name]%> (<i><%= topic[0] %></i>)<br>
                    <% end %>
                  </td>
              <% end %>

              <% if g_service.archived? %>
                  <td style="background-color: lightcoral"><
              <% else %>
                  <td style="background-color: darkseagreen"></td>
              <% end %>

              <% if contact_url.nil? && contact_email.nil? %>
                  <td style="background-color: lightcoral"></td>
              <% else %>
                  <td style="background-color: darkseagreen"><%= (contact_email || contact_url) %></td>
              <% end %>

              <% if homepage.nil? %>
                  <td style="background-color: lightcoral"></td>
              <% else %>
                  <td style="background-color: darkseagreen"><%= homepage %></td>
              <% end %>
            </tr>
        <% end %>
      </table>
      <br>
      <hr>
      Total Services with ELIXIR Description: <b><%= @services.count %></b><br>
      Number of Ineligble Services:<b> <%= invalid_count %></b>
  <% end %>
</div>