<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Services">
    <Table>
      <Row>
        <% headers[:service_columns].each do |s| %>
          <Cell><Data ss:Type="String"><%=s%></Data></Cell>
        <% end %>
      </Row>
      <% services.each do |row| %>
          <Row>
            <% row.each do |column| %>
                <Cell><Data ss:Type="String"><%= column %></Data></Cell>
            <% end %>
          </Row>
      <% end %>
    </Table>
  </Worksheet>


  <Worksheet ss:Name="SoapOperations">
    <Table>
      <Row>
        <% headers[:soap_operation_columns].each do |s| %>
            <Cell><Data ss:Type="String"><%=s%></Data></Cell>
        <% end %>
      </Row>
      <% soap_operations.each do |row| %>
          <Row>
            <% row.each do |column| %>
                <Cell><Data ss:Type="String"><%= column %></Data></Cell>
            <% end %>
          </Row>
      <% end %>
    </Table>
  </Worksheet>

  <Worksheet ss:Name="RestMethods">
    <Table>
      <Row>
        <% headers[:rest_method_columns].each do |s| %>
            <Cell><Data ss:Type="String"><%=s%></Data></Cell>
        <% end %>
      </Row>
      <% rest_methods.each do |row| %>
          <Row>
            <% row.each do |column| %>
                <Cell><Data ss:Type="String"><%= column %></Data></Cell>
            <% end %>
          </Row>
      <% end %>
    </Table>
  </Worksheet>&ndash;&gt;
</Workbook>