<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Styles>
    <Style ss:ID="Default" ss:Name="Normal">
        <Alignment ss:Vertical="Bottom"/>
        <Borders/>
        <Font ss:FontName="Verdana"/>
        <Interior/>
        <NumberFormat/>
    </Style>
    <Style ss:ID="s22">
        <Alignment ss:Vertical="Bottom" ss:WrapText="1"/>
        <NumberFormat ss:Format="@"/>
    </Style>
    <Style ss:ID="s23">
        <Alignment ss:Vertical="Bottom" ss:WrapText="1"/>
    </Style>
  </Styles>

  <Worksheet ss:Name="Services">
    <Table>
      <Row>
        <% headers[:service_columns].each do |s| %>
          <Cell><Data ss:Type="String"><%=s%></Data></Cell>
        <% end %>
      </Row>
      <% services.each do |row| %>
          <Row>
            <% row.each do |column| %>
                <Cell><Data ss:Type="String"><%= column.gsub("\n", "&#13;") unless column.blank? -%></Data></Cell>
            <% end %>
          </Row>
      <% end %>
    </Table>
  </Worksheet>


  <Worksheet ss:Name="SoapOperations">
    <Table>
      <Row>
        <% headers[:soap_operation_columns].each do |s| %>
            <Cell><Data ss:Type="String"><%=s%></Data></Cell>
        <% end %>
      </Row>
      <% soap_operations.each do |row| %>
          <Row>
            <% row.each do |column| %>
                <Cell><Data ss:Type="String"><%= column.gsub("\n", "&#13;") unless column.blank? %></Data></Cell>
            <% end %>
          </Row>
      <% end %>
    </Table>
  </Worksheet>

  <Worksheet ss:Name="RestMethods">
    <Table>
      <Row>
        <% headers[:rest_method_columns].each do |s| %>
            <Cell><Data ss:Type="String"><%=s%></Data></Cell>
        <% end %>
      </Row>
      <% rest_methods.each do |row| %>
          <Row>
            <% row.each do |column| %>
                <Cell><Data ss:Type="String"><%= column.gsub("\n", "&#13;") unless column.blank? %></Data></Cell>
            <% end %>
          </Row>
      <% end %>
    </Table>
  </Worksheet>&ndash;&gt;
</Workbook>