<h1>Confirm which things you want to save.</h1>
<% services = xls['Services'] %>
<% soap_operations = xls['SoapOperations'] %>
<% rest_methods = xls['RestMethods'] %>
<!--
Access Like
xls['Services'][:object]

xls['Services'][:changes][:old]
xls['Services'][:changes][:new]
xls['Services'][:changes][:field]
-->

<style>
    table {border-collapse:collapse; table-layout:fixed; width:100%}
    table td {word-wrap:break-word;}
</style>

<H1>Services</H1>
<table>
  <thead>
  <th><b>Service</b></th>
  <th><b>Old Value</b></th>
  <th><b>New Value</b></th>
  <th><b>Field</b></th>
  <th><b>Save?</b></th>
  </thead>
  <tbody>
  <% services.each do |service| %>
      <% unless service.nil? %>
          <% service[:changes].each do |change| %>
              <tr>
                <td><%= link_to(service[:object].name, url_for(service[:object]) ) %></td>
                <td><%=h change[:old] %></td>
                <td><%=h change[:new] %></td>
                <td><%= change[:field] %></td>
                <td> Save</td>
              </tr>
          <% end %>
      <% end %>
  <% end %>
  </tbody>
</table>

<br/><br/><br/><br/>
<H1>Rest Methods</H1>

<table>
  <thead>
  <th><b>Rest Method</b></th>
  <th><b>Old Value</b></th>
  <th><b>New Value</b></th>
  <th><b>Field</b></th>
  <th><b>Save?</b></th>
  </thead>
  <tbody>
  <% rest_methods.each do |rest_method| %>
      <% unless rest_method.nil? %>
          <% rest_method[:changes].each do |change| %>
              <tr>
                <%if !rest_method[:object].endpoint_name.nil? %>
                    <td><%= link_to(rest_method[:object].endpoint_name, url_for(rest_method[:object]) ) %></td>
                <% else %>
                    <td><%= link_to(rest_method[:object].id, url_for(rest_method[:object]) ) %></td>
                <% end %>
                <td><%=h change[:old] %></td>
                <td><%=h change[:new] %></td>
                <td><%= change[:field] %></td>
                <td> Save</td>
              </tr>
          <% end %>
      <% end %>
  <% end %>
  </tbody>
</table>


<br/><br/><br/><br/>
<H1>Soap Operations</H1>

<table>
  <thead>
  <th><b>Soap Operation</b></th>
  <th><b>Old Value</b></th>
  <th><b>New Value</b></th>
  <th><b>Field</b></th>
  <th><b>Save?</b></th>
  </thead>
  <tbody>
  <% soap_operations.each do |soap_op| %>
      <% unless soap_op.nil? %>
          <% soap_op[:changes].each do |change| %>
              <tr>
                <td><%= link_to(soap_op[:object].name, url_for(soap_op[:object]) ) %></td>
                <td><%=h change[:old] %></td>
                <td><%=h change[:new] %></td>
                <td><%= change[:field] %></td>
                <td> Save</td>
              </tr>
          <% end %>
      <% end %>
  <% end %>
  </tbody>
</table>

