<%

# BioCatalogue: app/views/annotations/common/_default_add_box.html.erb
#
# Copyright (c) 2009, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<%
	text_area_id = "text_area_#{rand(10000000)}"
	submit_button_div_id = "submit_button_div_#{rand(10000000)}"
	spinner_id = "spinner_#{rand(10000000)}"

	text_area_initial_height = 100 unless local_assigns.has_key?(:text_area_initial_height)

  text_area_default_value = "" unless local_assigns.has_key?(:text_area_default_value)
%>

<div class="add_box">
	<% rounded(annotation_add_box_background_color, "#333", "100%") do %>
		<% form_tag(:url => create_inline_annotations_url(:partial => partial_from),
										   :update => { :success => main_div_id }, 
									 		 :success => "new Effect.Highlight('#{main_div_id}', { duration: 1.0 });",
											 :failure => "alert('Sorry, an error has occurred whilst submitting. This could be because you are trying to add an annotation that already exists. If this error persists we would be very grateful if you notified us.');", 
											 :loading => "Element.show('#{spinner_id}')",
           						 :complete => "Element.hide('#{spinner_id}')", :remote => true ) do %>
		
	    <%= hidden_field_tag "annotation[annotatable_type]", annotatable.class.name -%>
	    <%= hidden_field_tag "annotation[annotatable_id]", annotatable.id -%>
	    <%= hidden_field_tag "annotation[attribute_name]", attribute_name -%>
			
			<div>
  	    	<%= text_area_tag "annotation[value]", 
  												text_area_default_text,
  												:id => text_area_id,
  												:rows => 1,
  												:onfocus => "$('#{submit_button_div_id}').show();",
                         "data-pre-content" => CGI.escapeHTML(text_area_default_value) -%>
			</div>
			
			<div class="submit_button_div" id="<%= submit_button_div_id -%>" style="display: none;">
				<%= image_tag icon_filename_for(:spinner), :id => spinner_id, :style => "display: none; vertical-align: middle; margin-right: 1em;" -%>
	    	<%= submit_tag "Add" -%>
			</div>
			
			<script type="text/javascript">
				<%= default_add_box_js_for_textarea(text_area_id, text_area_initial_height) -%>
			</script>
		
		<% end %>
	<% end %>
</div>