<h1>
  Pending Responsibility Requests for Services
</h1>
	
<%if defined?(@responsibility_requests) && !@responsibility_requests.empty? -%>
	<%= render :partial => 'widgets/pagination_bottom', :locals => { :paginated_items => @responsibility_requests } %>
	<% @responsibility_requests.each do |req| -%>
		<div class="monitoring_section">
			<h5>Responsibility Resquests for <%= link_to BioCatalogue::Util.display_name(req.subject), service_url(req.subject)  -%> </h5>	
			<table style="width: 99%; margin: 0.7em 0 0.3em 0;">
				<tr>
					<td style="padding-right: 1em;">
						Requested by : 
						<%= link_to(image_tag(icon_filename_for(:curator)) + content_tag(:span,  BioCatalogue::Util.display_name(req.user)), 
		                        user_url(req.user)) -%> 
					</td>
					<td style="text-align: right;">
					    <% unless req.user == current_user %>
							<%= link_to("Approve", approve_responsibility_request_url(req), :method => :put, 
																:confirm =>"Note: This will give the user full rights on the service, including permissions to remove it from BioCatalogue.",
																:class => "button_slim") -%>
							<%= link_to("Turn Down", turn_down_responsibility_request_url(req), :class => "button_slim")  -%>
						<% end %>
						
						<% if is_admin? || req.user == current_user %>
							<%= link_to("Cancel", cancel_responsibility_request_url(req), 
																			:method => :put,
																			:confirm => "Do you want to cancel this request?", 
																			:class => "button_slim") -%>
						<% end %>
					</td>
				</tr>
			</table>
		</div>	
	<% end -%>
	<%= render :partial => 'widgets/pagination_bottom', :locals => { :paginated_items => @responsibility_requests } %>
<%else%>
  <p class="none_text center"> No requests need approval by you at this moment. Please check back later. </p>
	
	<div>
		<div class="box_info_standout" style="margin: 4em auto; width: 400px; padding: 0.3em 1.4em;">
		  <p>
		  	<b>How do I request responsibility for a service?</b>
		  </p>
			<p>
				<ul class="simple_list">
					<li>Browse to the service's profile page</li>
					<li>
						Select the <i><b>Take Responsibility</b></i> option from the <i><b>Actions</b></i> drop down menu
						(the blue button on the left hand side next to the title of the service)
				  </li>
					<li>Follow the instructions on the subsequent page(s)</li>
				</ul>
			</p>
		</div>
	</div>	
		
<% end -%>