<%

# BioCatalogue: app/views/users/change_password.html.erb
#
# Copyright (c) 2008, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<% if @user -%>

	<h1>Change Password</h1>
	
	<div class="box_form" style="width: 400px;">
		<% form_for :user, @user, :url => { :action => "change_password" } do |f| %>
		  <%= f.error_messages %>
			<fieldset>
			  <legend>Choose a new password</legend>
			  <p>
			    <%= f.label :password, "New password" %>
					<br />
			    <%= f.password_field :password, :style => "width: 100%;" %>
			  </p>
			  <p>
			    <%= f.label :password_confirmation, "Confirm new password" %>
					<br />
			    <%= f.password_field :password_confirmation, :style => "width: 100%;" %>
			  </p>
			  <p>
			    <%= f.submit "Update", :disable_with => "Updating your password..." %>
			  </p>
			</fieldset>
		<% end %>
	</div>
	
<% end -%>

<%= link_to 'Back to User Profile', @user, :class => "red_arrow_left" %>
