<%

# BioCatalogue: app/views/users/change_password.html.erb
#
# Copyright (c) 2008, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<% if @user -%>

<h1>Changing my password</h1>

<% form_for :user, @user, :url => { :action => "change_password" } do |f| %>
  <%= f.error_messages %>
<fieldset>
  <legend>Choose a new password</legend>
  <p>
    <%= f.label :password, "Enter new password" %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.submit "Submit new password", :disable_with => "Submitting new password..." %>
  </p>
</fieldset>
<% end %>
<% end -%>
<%= link_to 'Back to User Profile', @user, :class => "red_arrow_left" %>
