<%

# BioCatalogue: app/views/users/edit.html.erb
#
# Copyright (c) 2009, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<h1>Editing my profile</h1>

<div class="box_form" style="width: 500px;">
	<% form_for(@user) do |f| %>
	  <%= f.error_messages %>
		<fieldset>
		<fieldset>
		  <legend>Account email address</legend>
		  <p>
		    <%= f.label :email, "Email" %>
				<span class="required">*</span>
				<br />
		    <%= f.text_field :email %>
		  </p>  
			<% if false %>
			<p>
		    <%= f.label :email_confirmation, "Confirm your new email address" %>
				<br />
		    <%= f.text_field :email_confirmation %>
		  </p>
			<% end %>
		</fieldset>
		<fieldset>
		  <legend>Profile info</legend>
			<p>
		    <%= f.label :display_name, "Your display name" %>
				<br />
		    <%= f.text_field :display_name %>
		  </p>
		  <p>
		    <%= f.label :public_email, "Your public email address <span class='faded'>(so people can contact you)</span>" %><br />
		    <%= f.text_field :public_email, :size => 45 %>
		  </p>
		  <p>
		    <%= f.label :affiliation, "Affiliation (e.g. institute, company)" %><br />
		    <%= f.text_field :affiliation, :size => 45 %>
		  </p>
		  <p>
		    <%= f.label :country %><br />
		    <%= f.country_select :country, ["United Kingdom"], { :prompt => "- Please select a country -" } %>
		  </p>
		</fieldset>
		
		<br/>
		
		<%= render :partial => 'form_receive_notifications', :locals => { :form => f } -%>
		
		<p class="center">
	    <%= f.submit "Update", :disable_with => "Updating..." %>
	  </p>
	<% end %>
</div>

<%= link_to 'Back to User Profile', @user, :class => "red_arrow_left" %>
