<h1>BioCatalogue registered users</h1>

<table class="biocat_table">
  <tr>
    <th>User</th>
    <th>Affiliation</th>
    <th>Country</th>
	<th></th>
  </tr>

<% for user in @users %>
  <tr class="<%= cycle("even", "odd") %>">
    <td><%=h user.display_name %></td>
    <td><%=h user.affiliation %></td>
    <td><%=h user.country %></td>
    <td><%= link_to 'Show', user %>
	<% if mine?(user) -%>
		 | <%= link_to 'Edit', edit_user_path(user) %>
		 | <%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
	<% end -%>
  </tr>
<% end %>
</table>

<br />

<p style="padding-top: 10px;">
	<span class="green_box">Don't have an account yet : <%= link_to 'Sign up', "/signup", :id => "signup_link", :class => "signup" -%></span>
</p>
