<%

# BioCatalogue: app/views/users/index.html.erb
#
# Copyright (c) 2008, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<% t "Index" -%>

<h1>
	Members of <%= SITE_NAME -%>
	<%= help_icon_with_tooltip("<b>Members</b> are registered users of #{SITE_NAME}.<br/><br/>If you would like to sign up for an account and become a member please click on 'Sign Up' below.<br/><br/>#{sign_up_benefits_text}") -%>
</h1>

<% unless logged_in? %>
	<p style="margin: 1.5em 0;">
		<span class="green_box">Don't have an account yet : <%= link_to 'Sign up', "/signup", :id => "signup_link", :class => "signup" -%></span>
	</p>
<% end %>

<span class="inline-block" style="line-height: 1.0; float: right; margin-left: 2em; text-align: right;">
  <% if logged_in? && current_user.is_curator? %>
    <%= render :partial => 'index_include_deactivated_option' %>
    <span class="separator">|</span>
  <% end%>
  <%= render :partial => 'index_sortby' %>
</span>

<%= render :partial => 'widgets/pagination_top', :locals => { :paginated_items => @users } %>

<div id="latest_users" style="margin: 1em 0;">
	<%= render :partial => "listing", :locals => { :items => @users } %>
</div>

<%= render :partial => 'widgets/pagination_bottom', :locals => { :paginated_items => @users } %>



