<%

# BioCatalogue: app/views/users/new.html.erb
#
# Copyright (c) 2009, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<h1>Sign up to the BioCatalogue website</h1>

<div class="box_info_standout" style="float: right; font-size: 108%; padding: 0.7em 1.2em; max-width: 600px;">
	<%= sign_up_benefits_text -%>
</div>

<div class="box_form" style="width: 500px;">

	<% form_for(@user) do |f| %>
	
	  <%= f.error_messages %>
		<fieldset>
		  <legend>Email</legend>
		  <p>
		    <%= f.label :email, "Your email address" %>
				<span class="required">*</span>
				<br />
		    <%= f.text_field :email %>
		  </p>  
			<p>
		    <%= f.label :email_confirmation, "Confirm your email address" %>
				<span class="required">*</span>
				<br />
		    <%= f.text_field :email_confirmation %>
		  </p>
		</fieldset>
		<fieldset>
		  <legend>Password</legend>
		  <p>
		    <%= f.label :password %>
				<span class="required">*</span>
				<br />
		    <%= f.password_field :password %>
		  </p>
		  <p>
		    <%= f.label :password_confirmation, "Confirm your password" %>
				<span class="required">*</span>
				<br />
		    <%= f.password_field :password_confirmation %>
		  </p>
		</fieldset>
		<fieldset>
		  <legend>Some information about you</legend>
			<p>
		    <%= f.label :public_email, "Your public email address <span class='faded'>(so people can contact you)</span>" %><br />
		    <%= f.text_field :public_email, :size => 45 %>
		  </p>
		  <p>
		    <%= f.label :affiliation, "Affiliation (e.g. institute, company)" %><br />
		    <%= f.text_field :affiliation, :size => 45 %>
		  </p>
		  <p>
		    <%= f.label :country %><br />
		    <%= f.country_select :country, ["United Kingdom"], { :prompt => "- Please select a country -" } %>
		  </p>
		</fieldset>
		
		<br/>
		
		<%= render :partial => 'form_receive_notifications', :locals => { :form => f }  -%>
		
		<p class="center">
			By clicking 'submit' you agree to our <%= link_to "terms of use", "/termsofuse", :target => '_blank' -%> 
		</p>
		
		<p class="center">
		  <%= f.submit "Sign up", :disable_with => "Signing up..." %>
		</p>
		
	<% end %>

</div>
