<%

# BioCatalogue: app/views/users/reset_password.html.erb
#
# Copyright (c) 2008, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<% if @user -%>

<h1>Resetting your password - Final Step</h1>

<%= form_for :user, :url => { :action => "reset_password" } do |f| %>
        <% @user.errors.full_messages.each do |err|  %>
            <%= err %>
        <% end %>
<fieldset>
  <legend>Choose a new password</legend>
  <p>
    <%= f.label :password, "Enter new password" %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.submit "Submit new password", :disable_with => "Submitting new password..." %>
  </p>
</fieldset>
<% end %>
<% end -%>
