<%

# BioCatalogue: app/views/users/show.html.erb
#
# Copyright (c) 2009, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<% t "#{display_name(@user)}" -%>

<h1>
  <div class="resource_title">
	<%= generic_icon_for(:member, 'margin-right: 0.3em;', "Member of #{SITE_NAME}") -%>
	<span><%= display_name(@user) %></span>
    <span><%= user_role_badge(@user.roles, "margin-left: 1.5em;") %></span>
  </div>
</h1>

<% if logged_in? and (mine? @user or current_user.is_curator?) %>
    <div class="header_left_bar" style="float: none; position: static;" id="center" >
          <span class="actions_button_row">
				  <% if mine? @user %>
		            	<span class="actions_button">
                        <%= link_to(image_tag(icon_filename_for(:user_edit)) + content_tag(:span, ' Edit Account or Profile'), edit_user_path(@user)) -%>

                        </span>
                  <% end %>

            <% if current_user.is_curator? %>
                  <% if @user.is_curator? %>
                        <span class="actions_button">
                        <%= link_to(image_tag(icon_filename_for(:minus))  + " Remove Curator Rights", remove_curator_user_url(@user), :method => :put, :confirm => "Are you sure?") -%>
                        </span>
                  <% elsif @user.activated? %>
                        <span class="actions_button">
                        <%= link_to(image_tag(icon_filename_for(:plus)) + " Make Curator", make_curator_user_url(@user), :method => :put, :confirm => "Are you sure?") -%>
                        </span>
                        </span>
                  <% end %>


                <% if @user.activated? %>
                        <span class="actions_button">
                        <%= link_to(image_tag(icon_filename_for(:delete)) + content_tag(:span, ' Deactivate'), deactivate_user_url(@user), :method => :put, :confirm => "Are you sure you want to deactivate this user? This action can only be undone by a sys admin.") -%>
                        </span>
                  <% else %>
                         <span class="actions_button">
                          <%= link_to(image_tag(icon_filename_for(:monitoring_status_change_passed)) + " Activate", activate_user_url(@user), :method => :put, :confirm => "Are you sure you want to activate this user? They would usually activate themselves via email.") -%>
                         </span>
                  <% end %>
              <%end %>
			</span>
		</div>
<% end %>

<br/>

<div id="user-tabs" class="tabber">
	
  <div id="tab-profile" class="tabbertab">
  	
		<h3>Profile</h3>
  	
		<div style="float: left; width: 60%; line-height: 2.0;">
		
	    <p>
	      <b>Display Name:</b>
				<% if mine? @user %>
					<span class="side_link">
						[ <%= link_to 'change', edit_user_path(@user) %> ]
					</span>
				<% end %>
				<br/>
	      <%= display_name(@user) %>
	    </p>
			
			<p>
	      <b>Email address:</b>
				<% unless @user.public_email.blank? %>
					<% if mine?(@user) %>
						<span class="side_link">
							[ <%= link_to 'change', edit_user_path(@user) %> ]
						</span>
					<% end %>
					<br/>
					<%= mail_to @user.public_email, nil, {  :encode => "hex", :replace_at => " [at] " } -%>
				<% else %>
					<% if mine?(@user) %>
						<span class="side_link">
							[ <%= link_to 'set a public email address', edit_user_path(@user) %> ]
						</span>
					<% end %>
					<br/>
					<span class="none_text">Not specified</span>
				<% end %>
	    </p>
	    
	    <p>
	      <b>Affiliation:</b>
				<br/>
				<% unless @user.affiliation.blank? %>
	      	<%= h @user.affiliation %>
				<% else %>
					<span class="none_text">Not specified</span>
				<% end %>
	    </p>
	    
	    <p>
	      <b>Country:</b>
				<br/>
				<% unless @user.country.blank? %>
	      	<%= h @user.country %>
				<% else %>
					<span class="none_text">Not specified</span>
				<% end %>
	    </p>
			
		</div>
		
		<div style="float: right; width: 38%;">
			<% if mine? @user %>
			
				<div class="box_currentuser_specific" style="margin: 0.5em 0; line-height: 2.0;">
					<p class="center" style="font-size: 85%;">Note: the information here is private and cannot be seen by anyone else.</p>
					
					<p style="margin-top: 1.5em;">
			      <b>Account email address:</b>
						<% unless @user.email.blank? %>
							<span class="side_link">
								[ <%= link_to 'change', edit_user_path(@user) %> ]
							</span>
							<br/>
			      	<%= h @user.email %>
						<% else %>
							<span class="side_link">
								[ <%= link_to 'set an account email', edit_user_path(@user) %> ]
							</span>
							<br/>
							<span class="none_text">Not set</span>
						<% end %>
			    </p>
					
					<% if ENABLE_RPX %>
						<p>
							<b>External account identifer:</b>
							<%= external_account_field_help_icon -%>
							<% unless @user.identifier.blank? %>
				      	<span class="side_link">
									[ <%= link_to 'change', edit_user_path(@user, :anchor => "external_account") %> ]
								</span>
								<br/>
								<%= h @user.identifier %>
							<% else %>
								<span class="side_link">
									[ <%= link_to 'link an external account', edit_user_path(@user, :anchor => "external_account") %> ]
								</span>
								<br/>
								<span class="none_text">Not set</span>
							<% end %>
						</p>
					<% end %>
				</div>
				
			<% end %>
			
		</div>
		
		<span class="clear"></span>

  </div>
  
  <div id="tab-services" class="tabbertab">
    <h3><%= "Services Submitted (#{@users_services.total_entries})" -%></h3>
    
		<%= render :partial => 'widgets/pagination_top', :locals => { :paginated_items => @users_services } %>
		
		<div id="users_services" style="margin: 1em 0;">
			<%= render :partial => "services/listing", :locals => { :items => @users_services } %>
		</div>
		
		<%= render :partial => 'widgets/pagination_bottom', :locals => { :paginated_items => @users_services } %>
  </div>
	
	<div id="tab-other-services-responsible" class="tabbertab">
    <h3><%= "Services Responsible For (#{@users_services_responsible_for.total_entries})" -%></h3>
    
    <%= render :partial => 'widgets/pagination_top', :locals => { :paginated_items => @users_services_responsible_for } %>
    
    <div id="users_responsible_services" style="margin: 1em 0;">
      <%= render :partial => "services/listing", :locals => { :items => @users_services_responsible_for } %>
    </div>
    
    <%= render :partial => 'widgets/pagination_bottom', :locals => { :paginated_items => @users_services_responsible_for } %>
  </div>
  
  <div id="tab-annotated-services" class="tabbertab">
    <h3><%= "Services Annotated (#{@users_paged_annotated_services.total_entries})" -%></h3>

    <%= render :partial => 'widgets/pagination_top', :locals => { :paginated_items => @users_paged_annotated_services, :entry_name => "service" } %>
    
    <div id="users_annotated_services" style="margin: 1em 0;">
      <%= render :partial => "services/listing", :locals => { :items => @users_paged_annotated_services } %>
    </div>
    
    <%= render :partial => 'widgets/pagination_bottom', :locals => { :paginated_items => @users_paged_annotated_services } %>

  </div>
	
	<div id="tab-favourites" class="tabbertab">
		<% favourites = @user.favourites.reject { |f| f.favouritable_type != "Service" } %>
		
		<h3><%= "Favourites (#{favourites.length})" -%></h3>
		
		<% unless favourites.empty? %>
			<% favourites.each do |f| %>
				<%= render :partial => "#{f.favouritable_type.pluralize.downcase}/listing", :locals => { :items => [ f.favouritable ] }  -%>
				
				<p style="text-align: right; margin: -1.5em 0 2em 0;">
					<% if mine?(f) -%>
						<%= link_to(image_tag(icon_filename_for(:delete)) + content_tag(:span, " Remove from favourites"),
	               				favourite_path(f),
	               				:method => :delete,
	               				:confirm => "Are you sure you want to remove this service from your favourites?",
												:title => tooltip_title_attrib("Remove from your favourites"),
												:class => "button_slim") -%>
					<% end -%>
				</p>
			<% end %>
		<% else %>
			<p class="none_text">None</p>
		<% end %>		
	</div>
	
	<% if mine?(@user) || (logged_in? && current_user.is_admin?) -%>
		<div id="tab-status-notifications" class="tabbertab">
    	
			<h3><%= "Service Status Notifications (#{@users_services_responsible_for.total_entries}/#{@service_responsibles.total_entries}) " -%></h3>
		
			<div>
				<%= render :partial => 'widgets/pagination_top', :locals => { :paginated_items => @service_responsibles } %>
			</div>

			<div>
				<div id="service_responsibles" style="margin: 1em 0;">
					<%= render :partial => "service_responsibles/listing", :locals => { :items => @service_responsibles } %>
   				</div>
			</div>
			<div>
				<%= render :partial => 'widgets/pagination_bottom', :locals => { :paginated_items => @service_responsibles } %>
			</div>
		</div>
	<% end %>

</div>
