<h1>User Profile</h1>
<p>
  <b>Display Name:</b>
  <%=h @user.display_name %>
</p>

<p>
<% if mine?(@user) -%>
  <b>Email:</b>
  <%=h @user.email %>
<% end -%>
</p>

<p>
  <b>Affiliation:</b>
  <%=h @user.affiliation %>
</p>

<p>
  <b>Country:</b>
  <%=h @user.country %>
</p>

<% if mine?(@user) -%>
	<%= link_to 'Edit', edit_user_path(@user) %>
<% end -%>