<%

# BioCatalogue: app/views/users/show.html.erb
#
# Copyright (c) 2009, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<% t "#{h @user.display_name}" -%>

<h1>Member: <span class="orange_highlight"><%=h @user.display_name %></span></h1>

<br/>

<div id="user-tabs" class="tabber">
	
  <div id="tab-profile" class="tabbertab">
    <h3>Profile</h3>
    <p>
      <b>Display Name:</b>
      <%=h @user.display_name %>
			<% if mine? @user %>
				<span style="color: #999; margin-left: 1em; font-size: 85%;">
					[ <%= link_to 'change', edit_user_path(@user) %> ]
				</span>
			<% end %>
    </p>
		
		<p>
      <b>Email address:</b>
			<% unless @user.public_email.blank? %>
				<%= mail_to @user.public_email, nil, {  :encode => "hex", :replace_at => " [at] " } -%>
				<% if mine?(@user) %>
					<span style="color: #999; margin-left: 1em; font-size: 85%;">
						[ <%= link_to 'change', edit_user_path(@user) %> ]
					</span>
				<% end %>
			<% else %>
				<span class="none_text">Not specified</span>
				<% if mine?(@user) %>
					<span style="color: #999; margin-left: 1em; font-size: 85%;">
						[ <%= link_to 'set a public email address', edit_user_path(@user) %> ]
					</span>
				<% end %>
			<% end %>
    </p>
    
    <p>
      <b>Affiliation:</b>
			<% unless @user.affiliation.blank? %>
      	<%= h @user.affiliation %>
			<% else %>
				<span class="none_text">Not specified</span>
			<% end %>
    </p>
    
    <p>
      <b>Country:</b>
			<% unless @user.country.blank? %>
      	<%= h @user.country %>
			<% else %>
				<span class="none_text">Not specified</span>
			<% end %>
    </p>
		
		<% if mine? @user %>
			<div class="box_currentuser_specific" style="margin: 0.5em 0;">
				<p style="font-size: 85%; margin-bottom: 1em;">Note: the information here is private and cannot be seen by anyone else.</p>
				
				<p>
		      <b>Account email address:</b>
		      <%= h @user.email %>
					<span style="color: #999; margin-left: 1em; font-size: 85%;">
						[ <%= link_to 'change', edit_user_path(@user) %> ]
					</span>
		    </p>
			</div>
		<% end %>	

    <% if mine?(@user) -%>
	    <p style="margin-top: 2em;">
	      <%= link_to 'Edit my profile', edit_user_path(@user), :class => "edit_profile" %>
	      <%= link_to 'Change my password', change_password_user_path(@user), :class => "change_pwd" %>
	    </p>
    <% end -%>
    
  </div>
  
  <div id="tab-services" class="tabbertab">
    <h3><%= "Services submitted (#{@users_services.total_entries})" -%></h3>
    
		<%= render :partial => 'widgets/pagination_top', :locals => { :paginated_items => @users_services } %>
		
		<div id="users_services" style="margin: 1em 0;">
			<%= render :partial => "services/listing", :locals => { :items => @users_services } %>
		</div>
		
		<%= render :partial => 'widgets/pagination_bottom', :locals => { :paginated_items => @users_services } %>
  </div>
	
	<div id="tab-favourites" class="tabbertab">
		<% favourites = @user.favourites %>
		
		<h3><%= "Favourites (#{favourites.length})" -%></h3>
		
		<% unless favourites.empty? %>
			<% favourites.each do |f| %>
				<%= render :partial => "#{f.favouritable_type.pluralize.downcase}/listing", :locals => { :items => [ f.favouritable ] }  -%>
				
				<p style="text-align: right; margin: -1.5em 0 2em 0;">
					<% if mine?(f) -%>
						<%= link_to(image_tag(icon_filename_for(:delete), :style => 'vertical-align: middle;') + " <span style='vertical-align: middle;'>Remove from favourites</span>",
	               				favourite_path(f),
	               				:method => :delete,
	               				:confirm => "Are you sure you want to remove this service from your favourites?",
												:title => tooltip_title_attrib("Remove from your favourites"),
												:class => "button_slim") -%>
					<% end -%>
				</p>
			<% end %>
		<% else %>
			<p class="none_text">None</p>
		<% end %>		
	</div>

</div>

<%= render :partial => 'shared/tabber_startup' -%>
