<%

# BioCatalogue: app/views/soap_services/_new_form.html.erb
#
# Copyright (c) 2008, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<% form_for(@soap_service) do |f| %>
	<%= f.error_messages %>
	
	<table style="width: 100%; line-height: 1.5;">
		<tr>
			<td style="width: 49%; padding-right: 1em; ">

				<fieldset>
					<legend>Information from WSDL</legend>
					
					<!-- Name -->
					<div>
						Name: <br/>
						<% if @wsdl_info and !@wsdl_info["name"].blank? %>
							<p class="field"><%= h @wsdl_info["name"] -%></p>
						<% else %>
							<p class="none_text">Not available</p>
						<% end %>
				  </div>
					
					<!-- WSDL Location -->
					<%= f.hidden_field :wsdl_location -%>
					<div>
						WSDL Location: <br/>
						<% unless @soap_service.wsdl_location.blank? %>
							<p class="field"><%= h @soap_service.wsdl_location -%></p>
						<% else %>
							<p class="none_text">Not available</p>
						<% end %>
				  </div>
					
					<!-- Description -->
					<div>
						Description: <br/>
						<% if @wsdl_info and !@wsdl_info["description"].blank? %>
							<p class="field"><%= h @wsdl_info["description"] -%></p>
						<% else %>
							<p class="none_text">Not available</p>
						<% end %>
				  </div>
					
					<% if false %>
					<!-- Documentation URL -->
					<%= f.hidden_field :documentation_url -%>
					<div>
						Documentation URL: <br/>
						<% unless @soap_service.documentation_url.blank? %>
							<p class="field"><%= h @soap_service.documentation_url -%></p>
						<% else %>
							<p class="none_text">Not available</p>
						<% end %>
				  </div>
					<% end %>
					
					<br/>
					
					<!-- Location -->
					<div>
						Location: <br/>
						<% if @wsdl_geo_location %>
							<p class="field"><%= geo_loc_to_text(@wsdl_geo_location) -%></p>
						<% else %>
							<p class="none_text">Not available</p>
						<% end %>
				  </div>
					
					<br/>
					
					<!-- Operations -->
					<% if @wsdl_info %>
						<div>
							<p><b>This service has the following operations:</b></p>
							
							<div class="field">
								<ul>
									<% @wsdl_info["operations"].each do |op| -%>
										<li><%= "#{h op['name']} (#{pluralize((op['inputs'].blank? ? 0 : op['inputs'].length), 'input')}, #{pluralize((op['outputs'].blank? ? 0 : op['outputs'].length), 'output')})" -%></li>
									<% end -%>
								</ul>
							</div>
						</div>
					<% end -%>
					
				</fieldset>
				
			</td>
			<td style="width: 49%; padding-left: 1em;">
				<fieldset>
					<legend>Extra Information (optional)</legend>
					
					<!--<p class="error_text">Coming soon</p>-->
					<fieldset style="border: 1px solid #ff0000;">
					<legend style="color: #ff0000;">Coming soon...</legend>
					<!-- Add new name alias -->
					<p>
						<%= link_to_function "Add new name alias...", visual_effect(:toggle_blind, "new_name_box", :duration => 0.3) %>
					</p>
					<div id="new_name_box" style="display: none;">
						<p><%= text_field_tag :new_name, params[:new_name], :disabled => true, :size => 60 %></p>
					</div>
					
					<!-- Add new description -->
					<p>
						<%= link_to_function "Add new description...", visual_effect(:toggle_blind, "new_description_box", :duration => 0.3) %>
					</p>
					<div id="new_description_box" style="display: none;">
						<p><%= text_area_tag :new_description, params[:new_description], :disabled => true, :cols => 55, :rows => 6 %></p>
					</div>
					
					<!-- Add documentation URL -->
					<p>
						<%= link_to_function "Add documentation URL...", visual_effect(:toggle_blind, "doc_url_box", :duration => 0.3) %>
					</p>
					<div id="doc_url_box" style="display: none;">
						<p><%= text_field_tag :documentation_url, params[:documentation_url], :disabled => true, :size => 60 %></p>
					</div>
					</fieldset>
				</fieldset>
			</td>
		</tr>
	</table>
	
  <p style="text-align: center; margin-top: 1.5em;">
    <%= f.submit "Submit", :disable_with => "Submitting...", :disabled => @wsdl_info.nil? %>
  </p>
<% end %>
