<%

# BioCatalogue: app/views/soap_services/_show_service_tabs.html.erb
#
# Copyright (c) 2008, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<% ops = service_version_instance.soap_operations %>

<div id="operations" class="tabbertab">
  <h3>Operations (<%= ops.length -%>)</h3>
	
	<% ops.each do |operation| %>
		<div style="margin: 1em 0; padding: 1.5em 1.2em 1em 1.2em; border: 2px solid #CCC; line-height: 1.5;">
			<div>
				<div style="float: left; width: 73%;">
					<b>Name:</b>
					<span class="operation_name" style="font-size: 1.2em;"><%= h operation.name -%></span>
					
					<div style="margin-bottom: 1em;">
						<%= render :partial => "annotations/descriptions",
										 	 :locals => { :annotatable => operation } -%>
					 
					</div>
				</div>
				
				<div style="float: right; width: 24%; font-size: 0.9em;">
					<%= render :partial => "annotations/tags_box",
						 				 :locals => { :annotatable => operation } -%>
				</div>
				
				<span class="clear"></span>
			</div>
			
			<b>Inputs:</b>
			<div class="box_indented_with_bar" style="margin: 0.7em 0 0 2em;">
				<% operation.soap_inputs.each do |input| %>
					<div class="port">
						<div style="float: left; width: 73%;">
							<span class="operation_name"><%= h input.name -%></span>
							<% unless input.computational_type.blank? %>
						  	(<%= h input.computational_type -%>) 
							<% end %>
							<%= render :partial => "annotations/descriptions",
							 	 				 :locals => { :annotatable => input } -%>
						</div>
						<div style="float: right; width: 24%; font-size: 0.9em;">
							<%= render :partial => "annotations/tags_box",
								 				 :locals => { :annotatable => input } -%>
						</div>
						<span class="clear"></span>	
					</div>
				<% end %>
			</div>
					
			<b>Outputs:</b>
			<div class="box_indented_with_bar" style="margin: 0.7em 0 0 2em;">
				<% operation.soap_outputs.each do |output| %>
					<div class="port">
						<div style="float: left; width: 73%;">
							<span class="operation_name"><%= h output.name -%></span>
							<% unless output.computational_type.blank? %>
						  	(<%= h output.computational_type -%>) 
							<% end %>
							<%= render :partial => "annotations/descriptions",
							 	 				 :locals => { :annotatable => output } -%>
						</div>
						<div style="float: right; width: 24%; font-size: 0.9em;">
							<%= render :partial => "annotations/tags_box",
								 				 :locals => { :annotatable => output } -%>
						</div>
						<span class="clear"></span>
					</div>
				<% end %>
			</div>
			
		</div>
	<% end %>
  
</div>
