<%

# BioCatalogue: app/views/soap_services/_show_service_tabs.html.erb
#
# Copyright (c) 2008-2009, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<% ops = service_version_instance.soap_operations.sort {|a,b| a.name.downcase <=> b.name.downcase} %>

<div id="tab-operations" class="tabbertab">
  <h3>Operations (<%= ops.length -%>)</h3>
	
	<a name='operations_index'></a>
	<div class="operations_contents_box">
		<% ops.each do |operation| %>
			<span style="margin: 0 0.4em;">
				<%= content_tag(:a, display_name(operation), :href => "#soap_operation_#{operation.id}") -%>
			</span>
		<% end %>
	</div>
	
	<div style="margin: 0 1em;">
	
		<% ops.each do |operation| %>
			
			<div class="operation_box">
				
				<a id='<%= "soap_operation_#{operation.id}" -%>' name='<%= "soap_operation_#{operation.id}" -%>'></a>
				
				<p class="operation_heading">
					<b>Operation:</b>
					<span class="operation_name"><%= display_name(operation) -%></span>
				</p>
				
				<div>
					<div style="float: left; width: 73%;">
						
						<div style="margin-top: 0.3em; margin-bottom: 2em;">
							<%= render :partial => "annotations/name_aliases",
											 	 :locals => { :annotatable => operation,
																			:show_promote_option => false } -%>
						</div>
						
						<div>
							<b>Parameter Order:</b>
							<% unless operation.parameter_order.blank? %>
								<%= h(operation.parameter_order) -%>
							<% else %>
								<span class="none_text">unknown</span>
							<% end %>
						</div>
						
						<div>
							<%= render :partial => "annotations/descriptions",
											 	 :locals => { :annotatable => operation } -%>
						 
						</div>
						
						<div>
							<%= render :partial => "annotations/other_annotations",
							 		 			 :locals => { :annotatable => operation, :show_add => false } -%>
						</div>
						
					</div>
					
					<div style="float: right; width: 24%; font-size: 85%;">
						<%= render :partial => "annotations/tags_box",
							 				 :locals => { :annotatable => operation } -%>
					</div>
					
					<span class="clear"></span>
				</div>
			
				<br/>
				
				<b>Inputs:</b>
				<div class="box_indented_with_bar" style="margin: 1em 0 0 1.5em;">
					<% operation.soap_inputs.each do |input| %>
						<a id='<%= "soap_input_#{input.id}" -%>' name='<%= "soap_input_#{input.id}" -%>'></a>
						<div class="port">
							<div style="float: left; width: 73%;">
								<div style="margin-bottom: 0.6em;">
									<b>Input:</b>
									<span class="operation_name"><%= display_name(input) -%></span>
								</div>
								
								<div style="margin-bottom: 1em;">
									<%= render :partial => "annotations/name_aliases",
											 	 		 :locals => { :annotatable => input,
																					:show_promote_option => false } -%>
								</div>
									 
								<%= render :partial => "annotations/descriptions",
								 	 				 :locals => { :annotatable => input } -%>
													 
								<%= render :partial => "annotations/examples",
								 	 				 :locals => { :annotatable => input } -%>
								
								<%= render :partial => "soap_services/computational_type_info",
								 	 				 :locals => { :thing => input } -%>
								
								<%= render :partial => "annotations/other_annotations",
							 		 		 		 :locals => { :annotatable => input, :show_add => false } -%>
								
							</div>
							<div style="float: right; width: 24%; font-size: 85%;">
								<%= render :partial => "annotations/tags_box",
									 				 :locals => { :annotatable => input } -%>
							</div>
							<span class="clear"></span>	
						</div>
					<% end %>
				</div>
				
				<br/>
						
				<b>Outputs:</b>
				<div class="box_indented_with_bar" style="margin: 0.7em 0 0 1.5em;">
					<% operation.soap_outputs.each do |output| %>
						<a id='<%= "soap_output_#{output.id}" -%>' name='<%= "soap_output_#{output.id}" -%>'></a>
						<div class="port">
							<div style="float: left; width: 73%;">
								<div style="margin-bottom: 0.6em;">
									<b>Output:</b>
									<span class="operation_name"><%= display_name(output) -%></span>
								</div>
								
								<div style="margin-bottom: 1em;">
									<%= render :partial => "annotations/name_aliases",
											 	 		 :locals => { :annotatable => output,
																					:show_promote_option => false } -%>
								</div>
								
								<%= render :partial => "annotations/descriptions",
								 	 				 :locals => { :annotatable => output } -%>
													 
								<%= render :partial => "annotations/examples",
								 	 				 :locals => { :annotatable => output } -%>
								
								<%= render :partial => "soap_services/computational_type_info",
								 	 				 :locals => { :thing => output } -%>
								
								<%= render :partial => "annotations/other_annotations",
							 		 		 		 :locals => { :annotatable => output, :show_add => false } -%>
							</div>
							<div style="float: right; width: 24%; font-size: 85%;">
								<%= render :partial => "annotations/tags_box",
									 				 :locals => { :annotatable => output } -%>
							</div>
							<span class="clear"></span>
						</div>
					<% end %>
				</div>
			
			</div>
			
			<p style="margin: 0 0 1.5em 0; font-size: 93%; text-align: right;">
					<a href="#operations_index">Back to top</a>
				</p>
			
		<% end %>
	
	</div>
  
</div>
