<%

# BioCatalogue: app/views/soap_services/_structure.html.erb
#
# Copyright (c) 2008, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<p>
	<b>WSDL Location:</b>
	<%= link_to(h(service_version_instance.wsdl_location), service_version_instance.wsdl_location, :popup => true) -%>
</p>

<h2>
	<b>Operations</b>
	(<%= service_version_instance.soap_operations.length -%>):
</h2>

<% service_version_instance.soap_operations.each do |operation| %>
	<div style="margin: 1em 0; padding: 0.6em 1em; border: 1px dotted #CCC; line-height: 1.5;">
		<b>Name:</b> 
		<span class="operation_name"><%= h operation.name -%></span>
		<p class="box_description" style="padding: 0.3em 0.6em; margin: 0.5em 0 1em 0;">
			<% unless (desc = operation.description).blank? %>
				<%= auto_link(h(desc), :all, :target => '_blank') -%>
			<% else %>
				<span class="none_text">No description</span>
			<% end %>
		</p>
		
		<b>Inputs:</b>
		<div style="margin: 0.7em 0; margin-left: 2em;">
			<ul>
				<% operation.soap_inputs.each do |input| %>
					<li>
						<%= h input.name -%>
						<% unless input.computational_type.blank? %>
					  	(<%= h input.computational_type -%>) 
						<% end %>
						<% unless input.description.blank? %>
					  	<%= image_tag('info.png', 
														:alt => "description",
														:style => 'margin-left: 0.5em;', 
														:title => tooltip_title_attrib("<b>Description: </b>#{h(input.description)}")) -%>
						<% end %>
					</li>
				<% end %>
			</ul>
		</div>
		
		<b>Outputs:</b>
		<div style="margin: 0.7em 0; margin-left: 2em;">
			<ul>
				<% operation.soap_outputs.each do |output| %>
					<li>
						<%= h output.name -%>
						<% unless output.computational_type.blank? %>
					  	(<%= h output.computational_type -%>) 
						<% end %>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
<% end %>