<%

# BioCatalogue: app/views/soap_services/new.html.erb
#
# Copyright (c) 2008, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<% t "New SOAP Service" -%>

<h1>New SOAP Service</h1>

<%= error_messages_for :soap_service %>

<p class="step_text">1. Specify the URL to the WSDL of the service, then preview...</p>

<% form_remote_tag(:url => load_wsdl_soap_services_url, 
								   :update => 'soap_service_after_wsdl_load', 
							 		 :success => "new Effect.Highlight('soap_service_form', { duration: 1.5 });",
							     :loading => "Element.show('spinner')",
                   :complete => "Element.hide('spinner')") do -%>
	
	<div>
		<p style=" margin-top: 0;">
			<%= text_field_tag "wsdl_url", params[:wsdl_url], :size => 60 -%>
			<%= submit_tag "Preview" -%>
			<%= image_tag "spinner.gif", :id => "spinner", :style => "display: none; vertical-align: middle;" -%>
		</p>
	</div>

<% end -%>

<div id="soap_service_after_wsdl_load">
	<%= render :partial => "after_wsdl_load" %>
</div>
