<%

# BioCatalogue: app/views/soap_services/show.html.erb
#
# Copyright (c) 2008, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<%=auto_discovery_link_tag(:rss, {:controller => "soap_services", :action => "latest_services"}, {:title => "Latest Soap Services"}) %>
<p>
  <b>Service Name:</b>
  <%=h @soap_service.name %> 
  <br />
  <%=link_to 'Find wsdl here', @soap_service.wsdl_location %>
</p>
<strong>Operations</strong> <p />
<%for operation in @soap_service.soap_operations %>
	name: 
	<%= link_to operation.name, operation %> <br/>
	description:
	<%= operation.description %> <br/>
	inputs:
	<%for input in operation.soap_inputs%> 
		<%if input.computational_type != nil %>
	     	<%= link_to input.name << '='<< input.computational_type.split(":")[1]  , input %> 
		<%end%>
	<%end%>
	<br/>
	outputs: 
	<%for output in operation.soap_outputs%>
		<%if output.computational_type != nil %>
	   		 <%= link_to output.name << '='<< output.computational_type.split(":")[1] , output %> 
		<%end%>
	<%end%>
	<br/>
	<p />
<%end%>

<%= link_to 'Edit', edit_soap_service_path(@soap_service) %> |
<%= link_to 'Back', soap_services_path %>

<h2>Annotations</h2>
<%= render :partial => 'shared/annotations',:locals => {:annotations => @soap_service}%>
