<% annotatable_item = annotations %>

 <% for annotation in annotatable_item.annotations %>
 Annotation posted on <%= annotation.created_at.to_s %><br/>
 <strong> <%= annotation.key %> </strong>: <br/>
 <%= annotation.value %> <br/><br/>
 <% end %>

 <h2>Annotate this <%= annotatable_item.class %></h2>
 <% form_tag(add_annotation_annotations_path) do -%>
   <%= hidden_field_tag 'annotation[annotatable_id]', annotatable_item.id %>
   <%= hidden_field_tag 'annotation[annotatable_type]', annotatable_item.class %>
   <%= text_field_tag 'annotation[key]', nil %> <br/>
   <%= text_area_tag 'annotation[value]', nil, :style => 'width:50%; height:100px;' %> <br/>
   <%= submit_tag 'add annotation' %>
 <% end %> 