<% testable_item  = service_tests %>

<h4> Upload a test for this <%= testable_item.class %></h4>

<% form_tag (add_test_service_tests_path, :multipart => true )  do -%>
	<%= hidden_field_tag 'service_test[testable_id]', testable_item.id -%>
	<%= hidden_field_tag 'service_test[testable_type]', testable_item.class -%>
	Name: <br/>
	<%= text_field_tag 'service_test[name]' %>
	<p/>
	Executable Name: <br/>
	<%= text_field_tag 'service_test[exec_name]' %>
	<p/>
	Description: <br/>
	<%= text_area_tag 'service_test[description]', nil , :style => 'width:100%; height:50%' %>
	<p/>
	<p>
		File:
		 <span>
			<%= help_icon_with_tooltip(" upload a single file or a zip archive of files ") -%>
		</span><br/>
				
		<%= file_field 'service_test', :test_data  %>
	<p/>
	<p>
		Select a programming language : <br/>
	 <%= select_tag 'service_test[binding]', options_for_select(["---", "python","perl","java","ruby" ], "---")%>	
	</p>
	
<%= submit_tag 'upload' -%>

<% end %>
