<div id="tab-overview" class="tabbertab">
  <h3>Overview</h3>

  <!-- Left column -->
  <div class="properties" style="float: left; width: 67%;">
    <% if false %>
        <p>
          <b>Unique code:</b>
          <%=h @service.unique_code %>
        </p>
    <% end %>

    <% if !@soaplab_service.nil? or is_soaplab_service?(@service) %>
        <div class="box_info_standout" style="text-align:center;">
          This looks like a <b>Soaplab</b> service.
          <%= link_to_function "Click here for more info and guidance on how to use this service #{expand_image})".html_safe, visual_effect(:toggle_blind, "about_soaplab", :duration => 0.3), :style => "text-decoration:none;" %>
          <div id="about_soaplab" style="display:none;">
            <%= render :partial => "soaplab_servers/about_soaplab" -%>
          </div>
        </div>
    <% end %>

    <% if is_biomoby_service?(@service)%>
        <div class="box_info_standout" style="text-align:center;">
          This looks like a <b>BioMoby</b> service. We are working on providing better support and documentation for BioMoby services.
          <br/>
          <b>
            <%= link_to_function "Click here for more info and guidance on how to use this service #{expand_image}".html_safe, visual_effect(:toggle_blind, "about_biomoby", :duration => 0.3), :style => "text-decoration:none;" %>
          </b>
          <div id="about_biomoby" style="display:none;">
            <%= render :partial => "services/about_biomoby" -%>
          </div>
        </div>
    <% end %>

    <p style="margin-top: 0.5em;">
      <b>Provider:</b>
      <br/>
      <% @service.providers.each do |provider| %>
          <%= link_to(display_name(provider), service_provider_path(provider)) %>
          <br/>
      <% end %>
    </p>

    <p>
      <b>Location:</b>
      <br/>
      <% @service.service_deployments.each do |s_d| %>
          <%= edit_location_by_popup(s_d, :class => "button_slim") -%>
          <% unless (loc = s_d.location).blank? -%>
              <%= h s_d.location -%>
              <%= flag_icon_from_country(s_d.country, :text => loc) -%>
              <br/>
          <% else %>
              <span class="none_text">not available</span>
          <% end %>
      <% end %>
    </p>

    <p>
      <b>Submitter/Source:</b>
      <br/>
      <%= submitter_link(@service.submitter, "margin-right: 0.5em; vertical-align: middle;").html_safe %>
      <span class="ago" style="vertical-align: baseline;">
					(<%= distance_of_time_in_words_to_now(@service.created_at) -%> ago)
				</span>
    </p>

    <p>
      <b>Base URL:</b>
      <br/>
      <% @service.service_deployments.each do |s_d| -%>
          <%= edit_base_endpoint_by_popup(s_d, :class => "button_slim") -%>
          <%= link_to(h(s_d.endpoint), s_d.endpoint, :popup => true) -%>
      <% end %>
    </p>

    <%= render :partial => "#{@latest_version_instance.class.to_s.pluralize.underscore}/show_service_overview_metadata",
               :locals => { :service_version_instance => @latest_version_instance } %>

    <div class="property">
      <%= render :partial => "annotations/documentation_urls",
                 :locals => { :annotatable => @latest_version_instance } -%>
    </div>

    <div class="property">
      <%= render :partial => "annotations/descriptions",
                 :locals => { :annotatable => @latest_version_instance } -%>
    </div>

    <% if !@soaplab_service.nil? or is_soaplab_service?(@service) %>
        <div class="property">
          <%= render :partial => 'soap_services/description_from_soaplab',
                     :locals => {:thing => @latest_version_instance } -%>
        </div>
    <% end %>

    <div class="property">
      <%= render :partial => "annotations/licenses",
                 :locals => { :annotatable => @latest_version_instance } -%>
    </div>

    <div class="property">
      <%= render :partial => "annotations/costs",
                 :locals => { :annotatable => @latest_deployment } -%>
    </div>

    <div class="property">
      <%= render :partial => "annotations/usage_conditions",
                 :locals => { :annotatable => @latest_deployment } -%>
    </div>

    <div class="property">
      <%= render :partial => "annotations/contacts",
                 :locals => { :annotatable => @latest_deployment } -%>
    </div>

    <div class="property">
      <%= render :partial => "annotations/publications",
                 :locals => { :annotatable => @latest_version_instance } -%>
    </div>

    <div class="property">
      <%= render :partial => "annotations/citations",
                 :locals => { :annotatable => @latest_version_instance } -%>
    </div>

    <% if false %>
        <div class="property">
          <%= render :partial => "annotations/other_annotations",
                     :locals => { :annotatable => @service } -%>
        </div>
    <% end %>
  </div>

  <!-- Right column -->
  <div style="float: right; width: 30%;">

    <%= render :partial => "soaplab_servers/soaplab_server_box" -%>

    <%= render :partial => "service_responsibles_box" -%>

    <%= render :partial => "annotations/tags_box",
               :locals => { :annotatable => @service } -%>

    <%= render :partial => "favourited_box" -%>

    <%= render :partial => "similar_services_box" -%>
  </div>

  <span class="clear"></span>
</div>