<% t "#{display_name(@service)} (#{@service.service_types.to_sentence}) [Provided by: #{h(@service.providers.map{|p| display_name(p)}.to_sentence)}]" -%>

<h1>
  <div class="resource_title">
    <%= generic_icon_for(:service, 'margin-right: 0.3em;', "Web Service") -%>
    <span style="vertical-align: middle;"><%= display_name(@service) -%></span>
    <%= service_type_badges(@service.service_types).html_safe -%>
    <%= service_location_flags(@service).html_safe -%>
  </div>
  <div class="header_right_bar" style="margin-top: -50px;">
		<span style="vertical-align: middle; margin-right: 0.5em">
			<%= render :partial => 'services/stats_bar', :locals => {:service => @service} -%>
		</span>
  </div>
</h1>

<% if logged_in? %>
    <div class="header_left_bar" style="float: none; position: static;" id="center" >
       <span class="actions_button_row" >
          <%= if (fav = favourite_action(@service, current_user )) then ('<span class="actions_button"> ' + fav + '</span>').html_safe end%>
         <%= if (resp = take_responsibility_action(@service, current_user)) then ('<span class="actions_button">' + resp + '</span>').html_safe end %>
         <%  if BioCatalogue::Auth.allow_user_to_curate_thing?(current_user, @service) then %>
              <%= if (pend = pending_responsibility_action(@pending_responsibility_requests)) then ('<span class="actions_button">' +  pend + '</span>').html_safe end %>
             <%= if (update = check_updates_action(@service)) then ('<span class="actions_button">' + update + '</span>').html_safe end %>
             <%= if (archive = archive_action(@service) )then ('<span class="actions_button">' + archive+'</span>').html_safe end %>
             <%= if (remove = remove_action(@service)) then ('<span class="actions_button">' + remove +'</span>').html_safe end %>
           <% end %>
       </span>
    </div>
<% end %>


<% if @service.archived? %>
    <%= render :partial => 'shared/archived_status_banner',
               :locals => { :status_text => "This service has been archived because it may not be active anymore (or is close to being non active). Please do not use it as it may not be accessible.",
                            :item => @service } -%>
<% end %>

<table style="width: 100%;">
  <tr>
    <td style="vertical-align: top;">
      <div>
        <% unless @latest_version_instance.name == @service.name -%>
					<span style="vertical-align: middle;">
						<% if @latest_version_instance.is_a? SoapService %>
							<b>Specified Name (from WSDL): </b>
						<% elsif @latest_version_instance.is_a? RestService %>
							<b>Specified Name (by submitter): </b>
						<% end %>
                      <%= h(@latest_version_instance.name) -%>
					</span>
            <span class="faded" style="vertical-align: middle; margin-left: 1em;"> | </span>
        <% end %>
        <span class="inline-block">
					<%= render :partial => "annotations/name_aliases",
                               :locals => { :annotatable => @service,
                                            :name_annotations => all_alternative_name_annotations_for_service(@service),
                                            :show_promote_option => true } -%>
				</span>
      </div>

      <div style="margin-top: 1em; margin-bottom: 0.3em;">
        <%= render :partial => "annotations/categories",
                   :locals => { :service => @service } -%>
      </div>
    </td>
    <td style="text-align: right; width: 185px;">
      <div style="text-align: right;">
        <table style="width: 185px; margin-bottom: 1em;">
          <tr>
            <td style="text-align: right; padding-left: 25px; width: 50px; vertical-align: middle;">
              <%= service_latest_status_symbol(@service) -%>
            </td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
</table>

<div class="toolbar">
	<span class="inline-block" style="vertical-align: middle; margin-left: 2em; margin-bottom: 0.3em;">
		<%= render :partial => "services/annotation_counts",
                   :locals => { :service => @service } -%>
	</span>
</div>