<%

# BioCatalogue: app/views/home/index.html.erb
#
# Copyright (c) 2008-2009, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<div id="home_content">
	
	<p id="home_heading">The <%= SITE_NAME -%>: providing a curated catalogue of life science Web services</p>
	
	<div id="middle_column_wrapper">
		<div id="middle_column">
			
			<div id="home_stats_bar">
		    <div id="div-centered" style="width: 100%;">
		    	<% rounded nil, "#333", "100%" do %>
            <%= SITE_NAME -%> currently has
					  <strong><%= link_to pluralize(Service.not_archived.count, "service"), services_path -%></strong>,
						<strong><%= link_to pluralize(ServiceProvider.count, "service provider"), service_providers_path -%></strong> and
					  <strong><%= link_to pluralize(User.count_activated, "member"), users_url -%></strong>
						<%= info_icon_with_tooltip("<b>Members</b> are registered users of #{SITE_NAME}.<br/><br/>If you would like to sign up for an account and become a member please click on 'Sign Up' towards the top right. <br/><br/>#{sign_up_benefits_text}") -%>
					<% end %>
		    </div>
		  </div>
			
			<%= render :partial => "home/info_boxes" -%>
			
			<% if false %>
			<div style="width: 470px; margin: 0 auto; margin-top: 1em;">
				<h3>Our Goals</h3>
		    <ul id="key_points">
					<li>Providing a <em>single registration point</em> for Web Service providers
					  and a <em>single search site</em> for scientists and developers.</li>
					<li>Providers, Expert curators and Users will provide oversight, monitor the catalogue 
					  and provide <em>high quality annotations</em> for services.</li>
					<li><%= SITE_NAME -%> is a place where the <em>community</em> can find contacts and meet
					  the experts and maintainers of these services.</li>
		    </ul>
			</div>
			<% end %>
		</div>
	</div>
	
	<div id="left_column">
		<div class="column_inner">

          <!-- Helpful Links -->
          <div class="section_box">
            <h4>
              <%= generic_icon_for(:info, 'margin-right: 0.4em;') -%>
              <span>Helpful Links</span>
            </h4>

            <div class="section_content" style="font-size: 85%;">
              <p>
                <a href="http://www.biocatalogue.org/wiki/doku.php?id=public:help:getting_started" target="_blank">Getting started with the Catalogue</a>
              </p>
              <p>
                <a href="http://www.biocatalogue.org/wiki/doku.php?id=public:help:general_info_on_web_services" target="_blank">General info on Web services</a>
              </p>
              <p>
                <a href="http://dev.mygrid.org.uk/wiki/display/scrap/Web+services+guidelines" target="_blank">Best practice guide for developing Web services</a>
              </p>
              <p>
                <a href="http://www.software.ac.uk/blog/2013-12-04-top-tips-creating-web-services" target="_blank">SSI's top tips on creating Web services</a>
              </p>
              <p>
                <a href="http://www.biocatalogue.org/wiki/doku.php?id=public:help:executing_web_services" target="_blank">Executing Web services</a>
              </p>
              <p>
                <a href="http://soaplab.sourceforge.net/soaplab2/StepByStep.html" target="_blank">Turn your command line application(s) into Web services</a>
              </p>
            </div>
          </div>

          <div class="section_box">
            <h4>
              <%= generic_icon_for(:info, 'margin-right: 0.4em;') -%>
              <span>Citing BioCatalogue</span>
            </h4>

            <div class="section_content" style="font-size: 85%;">
              <p>Bhagat, J., Tanoh, F., Nzuobontane, E., Laurent, T., Orlowski, J., Roos, M., Wolstencroft, K., Aleksejevs, S., Stevens, R., Pettifer, S., Lopez, R., Goble, C.A.</p>
              <p><i><a href="http://dx.doi.org/10.1093/nar/gkq394">BioCatalogue: a universal catalogue of web services for the life sciences</a></i></p>
              <p>Nucl. Acids Res. (2010) 38: 689-694 <br> doi:10.1093/nar/gkq394</p>
            </div>
            </div>
		</div>
	</div>
	
	<div id="right_column">
		<div class="column_inner">
			
			<!-- Site Announcements -->
			<div class="section_box">
				<h4>
					<span style="float: right; margin-left: 0.3em;">
						<%= feed_icon_tag "Site Announcements", announcements_path(:format => :atom) -%>
					</span>
					<%= generic_icon_for(:announcements, 'margin-right: 0.4em;') -%>
					<span>Site Announcements</span>
				</h4>
				
				<div class="section_content" style="font-size: 85%;">
					<% unless (announcements = Announcement.latest(5)).empty? %>
						<% announcements.each do |a| %>
							<p style="margin-bottom: 0.7em;">
								<b><%= link_to display_name(a), a -%></b>
								<br/>
								By <%= link_to display_name(a.user), a.user -%>
								<span class="ago">(<%= distance_of_time_in_words_to_now(a.created_at) -%> ago)</span>
							</p>
						<% end %>
					<% else %>
						<p class="none_text">None</p>
					<% end %>
				</div>
				
				<div class="section_footer">
					<% if BioCatalogue::Auth.allow_user_to_curate_thing?(current_user, :announcements) %>
						<b><%= link_to "New", new_announcement_url %></b>
						|
					<% end %>
					<b><%= link_to "More", announcements_url %></b>
				</div>
			</div>
		</div>
	</div>
		
	<span class="clear"></span>
</div>