<%

# BioCatalogue: app/views/registries/show.html.erb
#
# Copyright (c) 2009, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<% t "#{display_name(@registry)}" -%>

<h1>
	<%= generic_icon_for(:registry, 'margin-right: 0.3em;', "External Registry") -%> 
	<span><%= display_name(@registry) %></span>
	<%= info_icon_with_tooltip("This is an external registry that we connect to and harvest metadata from") -%>
</h1>

<br/>

<div class="tabber">
	
  <div id="tab-profile" class="tabbertab">
    <h3>Profile</h3>
    <p>
      <b>Homepage:</b>
      <%= h @registry.homepage -%>
    </p>
		
		<p><b>Description:</b></p>
		<div class="box_description">
			<% unless @registry.description.blank? %>
				<%= white_list(simple_format(@registry.description)) -%>
			<% else %>
				<span class="none_text">None</span>
			<% end %>
		</div>
  </div>
  
  <div id="tab-services" class="tabbertab">
    <h3><%= "Services submitted (#{@registrys_services.total_entries})" -%></h3>
    
		<%= render :partial => 'widgets/pagination_top', :locals => { :paginated_items => @registrys_services } %>
		
		<div id="users_services" style="margin: 1em 0;">
			<%= render :partial => "services/listing", :locals => { :items => @registrys_services } %>
		</div>
		
		<%= render :partial => 'widgets/pagination_bottom', :locals => { :paginated_items => @registrys_services } %>
  </div>

</div>

<%= render :partial => 'shared/tabber_startup' -%>