<%

# BioCatalogue: app/views/services/listing/_detailed.html.erb
#
# Copyright (c) 2010, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<% service_version_instance = service.latest_version.service_versionified %>

<div class="listing_item">
  
  <%= render :partial => "services/listing/name_section", :locals => { :service => service }, :inline => true -%>
  
  <table style="width: 100%; table-layout: fixed;">
    <tr>
      <td>
        <% #cache(:controller => 'services', :action => 'listing', :part => "name_aliases", :service_id => service.id) do
           cache(['services', 'listing', "name_aliases", service.id.to_s].join('/')) do-%>
          <div style="margin-top: 0.3em;">
            <%= render :partial => "annotations/name_aliases",
                       :locals => { :annotatable => service,
                                    :name_annotations => all_alternative_name_annotations_for_service(service),
                                    :show_add_option => false,
                                    :show_modify_options => false,
                                    :show_none_text => false } -%>
          </div>
        <% end %>
        
        <% #cache(:controller => 'services', :action => 'listing', :part => "categories", :service_id => service.id) do
           cache(['services', 'listing', "categories", service.id.to_s].join('/')) do -%>
          <div style="margin-top: 1em;">
            <%= render :partial => "annotations/categories", 
                       :locals => { :service => service,
                                    :show_add_option => false,
                                    :show_modify_options => false,
                                    :small => true } -%>
          </div>
        <% end %>
      </td>
      <td style="text-align: right; width: 300px; vertical-align: middle; padding-top: 0.4em;">
        <%= render :partial => "services/annotation_counts",
                 :locals => { :service => service } -%>
      </td>
    </tr>
  </table>
  
  <% #cache(:controller => 'services', :action => 'listing', :part => "descriptions", :service_id => service.id) do
     cache(['services', 'listing', "descriptions", service.id.to_s].join('/')) do -%>
    <div style="margin-top: 1em; font-size: 85%;">
      <%= render :partial => "annotations/descriptions",
            :locals => { :annotatable => service_version_instance,
              :show_header => false,
              :truncate_desc => 700,
              :auto_link_desc => false,
              :show_modify_options => false,
              :show_add_box => false } -%>
    </div>
  <% end %>

  <div style="float: right; position: relative; ">
  <% service.providers.each do |provider| %>
      <%= provider_logo(provider) %>
  <% end %>
  </div>
    
  <table style="width:100%;">
    <tr>
      <td>
        
        <p class="detail">
          
          <b>Provider:</b>
          <% service.providers.each do |provider| %>
            <%= link_to(display_name(provider), service_provider_path(provider), :style => "vertical-align: middle;") %>
          <% end %>
          
          <span class="separator">|</span>
          
          <b>Submitter / Source:</b>
          <%= submitter_link(service.submitter) %>
          <span class="ago" style="vertical-align: baseline;">
            (<%= distance_of_time_in_words_to_now(service.created_at) -%> ago)
          </span>
          
        </p>
        
        <div class="detail">
          <table>
            <tr>
              <td style="width: 11em; line-height: 1.5; text-align: left;">
                <b>Tags on this service:</b>
              </td>
              <td>
                <%= render :partial => "annotations/tags_flat", :locals => { :annotatable => service }, :inline => true -%>
              </td>
            </tr>
          </table>
        </div>
        
        <%= render :partial => "#{service_version_instance.class.to_s.pluralize.underscore}/service_listing_info", 
                   :locals => { :service_version_instance =>  service_version_instance } %>
        
      </td>
      
      <%  benchmark "Rendered services/_listing/service_latest_status_symbol" do %>
        <td style="width: 60px; text-align: right; vertical-align: bottom; padding-bottom: 0.5em;">
          <%= service_latest_status_symbol(service) -%>
        </td>
      <% end %>
    </tr>
  </table>
    
</div>