<h1>Listing web_services</h1>

<table>
  <tr>
    <th>Service type</th>
    <th>Unique code</th>
  </tr>

<% for web_service in @web_services %>
  <tr>
    <td><%=h web_service.service_type %></td>
    <td><%=h web_service.unique_code %></td>
    <td><%= link_to 'Show', web_service %></td>
    <td><%= link_to 'Edit', edit_web_service_path(web_service) %></td>
    <td><%= link_to 'Destroy', web_service, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New web_service', new_web_service_path %>
