<%

# BioCatalogue: app/views/tags/show.html.erb
#
# Copyright (c) 2009, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<% 
	count = @service_ids.length
	
%>

<% t "Results for tag '#{@tag.name}'" -%>

<h1>Tag Results</h1>

<p style="font-size: 123.1%;">
	Tag
	"<b><%= h(@tag.label) -%></b>"
  <% unless @tag.name == @tag.label %>
    (
    <%= @tag.name -%>
    )
  <% end %>
	returned <%= pluralize(count, "services") -%>
</p>

<table>
  <tr>
    <td style="float: right; margin-bottom: 10px;">
      <% if @include_archived %>
          <% search_url = tag_url(@tag.name) %>
          <% checked = 'checked'%>
      <% else %>
          <% search_url = url_for(tag_url(@tag.name, :include_archived => true)) %>
          <% checked = 'unchecked' %>
      <% end %>
      <label><input type="checkbox" onchange="window.location=('<%=search_url%>');" <%=checked%>/> <b>Include archived services?</b><br></label>
    </td>
  </tr>

</table>

<% if @service_ids.empty? %>

  <p class="none_text">No services.</p>

<% else %>
        <%
         services = Service.where(:id => @service_ids).paginate(:page => params[:page], :per_page => @per_page)
         #TODO figure out why current_page_ids only works as an array of Services rather than an array of ids
         current_page_ids = services

       #ORIGINAL
		 #current_page_ids = @service_ids.paginate(:page => params[:page], :per_page => @per_page)
         #services = search_item_ids_to_objects(current_page_ids, "service")
	 %>
	
	<%= render :partial => 'widgets/pagination_top', :locals => { :paginated_items => current_page_ids, :entry_name => 'service' } %>
	
	<div id="search_results" style="margin: 2em 0;">
		<%= render :partial => "services/listing", :locals => { :items => services } %>
	</div>
		
	<%= render :partial => 'widgets/pagination_bottom', :locals => { :paginated_items => current_page_ids } %>
	
<% end %>

<br />

