<%

   # BioCatalogue: app/views/tags/show.html.erb
   #
   # Copyright (c) 2009, University of Manchester, The European Bioinformatics
   # Institute (EMBL-EBI) and the University of Southampton.
   # See license.txt for details

%>

<% t "Results for tag '#{@tag.name}'" -%>

<h1>Tag Results</h1>

<p style="font-size: 123.1%;">
  Tag
  "<b><%= h(@tag.label) -%></b>"
  <% unless @tag.name == @tag.label %>
      (
      <%= @tag.name -%>
      )
  <% end %>
  returned <%= pluralize(@count, "results") -%>
</p>

<div class="search_options">
  <div class="search_option">
            <span style="vertical-align: middle; font-weight: bold;">
            Include archived?
            </span>
            <span style="vertical-align: middle; padding: 0; margin-left: 0.1em; width: 100%;">
                <input type="checkbox"
                       name="include_archived"
                       id="include_archived"
                       data-onchange-url="<%= generate_include_archived_url('tag', !include_archived?) %>"
                       onchange="loadUrlFromCheckboxInputTag(this); return false;"
                       <%= "checked='yes'" if include_archived? %> />
            </span>
  </div>
  <% params_dup = BioCatalogue::Util.duplicate_params(params) %>
  <% params_dup = BioCatalogue::Util.remove_rails_special_params_from(params_dup) %>
  <div class="search_option">
    <%= link_to("Filter services", services_path(params_dup.merge(:tag => "[#{@tag.label}]")), :class => "button_slim") %>
  </div>
</div>


<% if @results.empty? || @results.blank? %>

    <p class="none_text">No services.</p>

<% else %>
    <div id="search_results" class="tabber">
      <% if @scope.nil? %>
          <% @results.each do |result_scope_string, result_models| %>
              <% result_scope = result_scope_string.underscore.pluralize %>


              <% visible_result_scope = BioCatalogue::Search.scope_to_visible_search_type(result_scope)
                 items = result_models
                 count = items.length
                 items = items.paginate(:page => @page, :per_page => @per_page)
                 more_items = count > @per_page %>
              <% unless items.empty? %>

                  <div id='<%= "tab-#{result_scope}" -%>' class="tabbertab">
                    <% count_text = more_items ? "#{items.length} of #{count}" : "#{items.length}" %>
                    <h3><%= "#{visible_result_scope} (#{count_text})" -%></h3>

                    <div style="margin: 0 0 1.5em 0;">
                      <% if more_items %>
                          <div style="color: #555;">
                            <%= "Showing the top #{items.length} items out of #{count} in total" -%>
                          </div>
                      <% end %>
                      <div style="margin-top: 1em;">
                        <table style="width: 100%;">
                          <tr>
                            <td>
                              <% if more_items %>
                                  <%= link_to(content_tag(:span, "Next page of results ") + image_tag(icon_filename_for(:arrow_forward)),
                                              tag_url(@tag.name,:page => 2, :scope => result_scope),
                                              :class => "button_slim") -%>
                              <% end %>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>

                    <div style="clear: both;"></div>

                    <%= render :partial => "#{result_scope}/listing", :locals => {:items => items} %>
                    <% if more_items %>
                        <p>
                          <%= link_to(content_tag(:span, "Next page of results ") + image_tag(icon_filename_for(:arrow_forward)),
                                      tag_url(@tag.name,:page => 2, :scope => result_scope),
                                      :class => "button_slim") -%>
                        </p>
                    <% end %>
                  </div>
              <% end #unless items.empty?%>
          <% end #each result%>

      <% else %>
          <% result_scope = @scope
             items = @results
             count = @count
             items = items.paginate(:page => @page, :per_page => @per_page)
          %>
          <p> Search query
            "<b><%= h @query -%></b>"
            returned
            <%= pluralize(count, @visible_search_type.singularize) -%>  </p>

            <span style="float: right; margin-left: 2em; margin-top: 2.5em;">
                <%= link_to "Back to all search results", search_url(:q => @query), :class => "button_slim", :style => "margin-left: 1.5em;" -%>
			</span>
          <%= render :partial => 'widgets/pagination_top', :locals => {:paginated_items => items, :entry_name => @scope.gsub('_', ' ').singularize} %>
          <div id="search_results" style="margin: 2em 0;">
            <%= render :partial => "#{@scope}/listing", :locals => {:items => items} %>
          </div>
          <%= render :partial => 'widgets/pagination_bottom', :locals => {:paginated_items => items} %>
      <% end %>
    </div>
<% end #results empty %>
<br />

