<%
# BioCatalogue: app/views/service_deployments/edit_location_by_popup.html.erb
#
# Copyright (c) 2012, University of Manchester, The European Bioinformatics
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details
%>

<div class="redbox_contents" style="width:600px;">
  <div class="head">
    <%= link_to_close_redbox image_tag("close.gif"), :style => "float:right; margin-left:0.5em; vertical-align:middle;" -%>
    <span style="vertical-align:middle;">Edit Location:</span>
  </div>

  <div class="body">
    <%= form_for :service_deployment,
                :url => { :controller => "service_deployments",
                          :action => "update_location",
                          :id => @service_deployment.id } do |f| %>

        <% if !@service_deployment.nil? && !@service_deployment.errors.nil? then %>
            <% @service_deployment.errors.full_messages.each do |err| %>
                <%= err %>
            <% end %>
        <% end %>

    <div>
      <div class="box_info_standout">
        <%= annotation_add_info_text("ignore this text", @service_deployment.service_version.service_versionified) -%>
      </div>

      <p class="step_text">
        Enter the new location:
      </p>

      <p class="high_linespaced form_field_section">
        <%= f.label :city %>
        <%= f.text_field :city %>
      </p>

      <p class="high_linespaced form_field_section">
        <%= f.label :country %>
        <%= f.country_select :country, ["United Kingdom"], { :prompt => "- Please select a country -" }%>
      </p>

      <!--SUBMIT-->
      <p style="margin-top: 1.5em; text-align: center;">
        <%= f.submit "Submit", :disable_with => "Submitting..." -%>
        <%= button_to_function "Close", "RedBox.close()" -%>
      </p>

    </div>
    <% end %>

  </div>
</div>
