<div class="annotations_container">
  <div style="margin-top: 1em;">
    <b>Service Provider Logo:</b>
  </div>
  <% if (service_provider.logo.url == icon_filename_for(:provider)) %>
              <span class="none_text" style="display: block; margin-bottom: 10px">
                No project logo has been uploaded.
              </span>
      <% rounded(annotation_text_item_background_color, "#333", "100%") do %>
          <%= form_for service_provider, :url => upload_logo_service_provider_path(service_provider), :html => { :multipart => true } do |form| %>
              <%= form.file_field :logo, :onchange => "submit();" %>
          <% end %>
      <% end %>
  <% else %>
      <% rounded(annotation_text_item_background_color, "#333", "100%") do %>
          <div class="box_annotations">
            <u><%= service_provider.logo.original_filename %></u>
            <br>
            <%= image_tag service_provider.logo.url, :width => '60%' %>
            <div class="actions">
              <%= link_to "delete", {:controller => :service_providers,
                                     :action => 'remove_logo',
                                     :id => service_provider.id},
                          :method => :delete,
                          :confirm => "Are you sure you want to delete this logo?",
                          :class => "button_slim" %>
            </div>
          </div>
      <% end %>
  <% end %>
</div>
