<div class="annotations_container">
  <div style="margin-top: 1em;">
    <b>Service Provider Logo:</b>
  </div>
  <% if (service_provider.logo.url == icon_filename_for(:provider)) %>
              <span class="none_text" style="display: block; margin-bottom: 10px">
                No project logo has been uploaded.
              </span>
      <% if mine?(service_provider) ||
              (current_user && (current_user.is_curator? || current_user.is_admin?)) %>
          <% rounded(annotation_text_item_background_color, "#333", "100%") do %>
              <%= form_for service_provider, :url => upload_logo_service_provider_path(service_provider), :html => { :multipart => true } do |form| %>
                  <%= form.file_field :logo, :onchange => "submit();" %>
              <% end %>
          <% end %>
      <% end %>
  <% else %>
      <% can_delete = mine?(service_provider) ||
              (current_user && (current_user.is_curator? || current_user.is_admin?)) %>

      <% rounded(annotation_text_item_background_color, "#333", "100%") do %>
          <div class="box_annotations">
            <% if service_provider.logo.exists? %>
                <%= link_to(provider_logo(service_provider, :original), asset_path(service_provider.logo.url)) %>
            <% else %>
                <span class="none_text">Image file cannot be accessed.
                <%= "<br> Please try deleting the file and adding it again
                <br> If this does not work please #{link_to 'contact us', contact_path}".html_safe if can_delete %>
                </span>
            <% end %>
            <% if can_delete %>
                <div class="actions">
                  <%= link_to "delete", {:controller => :service_providers,
                                         :action => 'remove_logo',
                                         :id => service_provider.id},
                              :method => :delete,
                              :confirm => "Are you sure you want to delete this logo?",
                              :class => "button_slim" %>
                </div>
            <% end %>
          </div>
      <% end %>
  <% end %>
</div>
