<%

# BioCatalogue: app/views/annotations/_citations.html.erb
#
# Copyright (c) 2009, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<% unless annotatable.nil? %>
	<div class="annotations_container">
		<div style="margin-top: 1em;">
		  <b>Citations:</b>
			<%= info_icon_with_tooltip("Where has this service been cited? This should be in a common citation format (such as Bibtex, MLA, APA etc).") -%>
			
			<%= annotation_add_by_popup_link annotatable,
			     :attribute_name => "citation",
					 :link_text => "Add cost info",
			     :tooltip_text => "Click to add a citation for this service. This should be in a common citation format (such as Bibtex, MLA, APA etc).",
			     :style => "margin-left: 1em;" -%>

		</div>
		
		<div class="box_annotations">
			<% cost_annotations = annotatable.annotations_with_attribute("citation") %>
			<% unless cost_annotations.empty? %>
				<% cost_annotations.each do |ann| %>
					<% rounded(annotation_text_item_background_color, "#333", "100%") do %>
						<div class="text">
							<%= annotation_source_text(ann) -%>
							<div>
								<%= annotation_prepare_description(ann.value) -%>
							</div>
							<% if mine?(ann) %>
								<p class="actions">
									<span><%= annotation_edit_by_popup_link(ann) -%></span>
									<span style="margin-left: 1em;"><%= link_to("delete", annotation_path(ann), :method => :delete, :confirm => "Are you sure you want to delete this citation?", :style => 'vertical-align: middle;')-%></span>
								</p>
							<% end %>
						</div>
					<% end %>
				<% end %>
			<% else %>
				<span class="none_text">none</span>
			<% end %>
		</div>
	</div>
<% end %>