<%

# BioCatalogue: app/views/annotations/_descriptions.html.erb
#
# Copyright (c) 2008-2009, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<%
	attribute_name = "description"
	main_div_id = "descriptions_#{rand(10000000)}"
	
	# Set defaults for optional parameters to this partial...
	show_header = true unless local_assigns.has_key?(:show_header)
	truncate_desc = false unless local_assigns.has_key?(:truncate_desc)
	auto_link_desc = true unless local_assigns.has_key?(:auto_link_desc)
	show_modify_options = true unless local_assigns.has_key?(:show_modify_options)
	show_add_box = true unless local_assigns.has_key?(:show_add_box)
%>

<% unless annotatable.nil? %>
	<div id="<%= main_div_id -%>" class="annotations_container">
		<% if show_header == true %>
			<div style="margin-top: 1em;">
			  <b>Description(s):</b>
			</div>
		<% end %>
		
		<div class="box_annotations">
			<% unless (desc = annotatable.try(:description)).blank? %>
				<% rounded(annotation_text_item_background_color, "#333", "100%") do %>
					<div class="text">
						<span class="annotation_source_text annotation_source_provider">
							<span>from </span>
							<%= annotation_source_icon("ServiceProvider") -%>
							<span><b>provider's description doc</b></span>
							<span class='ago'><%= "(#{distance_of_time_in_words_to_now(annotatable.updated_at)} ago)" -%></span>
						</span>
						<div>
							<%= annotation_prepare_description(desc, 
																								 (truncate_desc != false), 
																								 (truncate_desc ==  false ? nil : truncate_desc), 
																								 auto_link_desc) -%>
						</div>
					</div>
				<% end %>
			<% end %>
			
			<% descriptions_annotations = annotatable.annotations_with_attribute(attribute_name).sort {|a,b| a.created_at <=> b.created_at} %>
			<% unless descriptions_annotations.empty? %>
				<% descriptions_annotations.each do |ann| %>
					<% rounded(annotation_text_item_background_color, "#333", "100%") do %>
						<div class="text">
							<%= annotation_source_text(ann) -%>
							<div>
								<%= annotation_prepare_description(ann.value, 
																									 (truncate_desc != false), 
																									 (truncate_desc ==  false ? nil : truncate_desc), 
																									 auto_link_desc) -%>
							</div>
							<% if show_modify_options %>
								<%= render :partial => "annotations/common/default_modify_options",
													 :locals => { :annotation => ann, :ann_type => "description" } -%>
							<% end %>
					</div>
					<% end %>
				<% end %>
			<% else %>
				<% if annotatable.try(:description).blank? %>
					<span class="none_text" style="vertical-align: middle;">No info yet</span>
				<% end %>
			<% end %>
		</div>
		
		<% if show_add_box %>
			<% if logged_in? %>
			
				<%= render :partial => "annotations/common/default_add_box",
									 :locals => { :partial_from => "descriptions",
																:annotatable => annotatable,
																:attribute_name => attribute_name,
																:text_area_default_text => "Write a description...",
																:main_div_id => main_div_id } -%>
			
			<% else %>
				<div class="login_link_box">
					<small><%= link_to("Login to add a description", login_path) -%></small>
				</div>
			<% end %>
		<% end %>
	</div>
<% end %>
