<%

# BioCatalogue: app/views/annotations/_other_annotations.html.erb
#
# Copyright (c) 2009, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<%# Set defaults for optional parameters to this partial... %>
<% show_header = true unless local_assigns.has_key?(:show_header) %>
<% show_add = true unless local_assigns.has_key?(:show_add) %>
<% show_modify_options = true unless local_assigns.has_key?(:show_modify_options) %>
<% show_none_text = true unless local_assigns.has_key?(:show_none_text) %>

<% unless annotatable.nil? %>
	<div class="annotations_container">
		<% if show_header == true %>
			<div style="margin-top: 1em;">
			  <b>Other Annotations:</b>
				
				<span>
					<%= help_icon_with_tooltip("This is a \"catch all\" for all annotations that do not fit into any specific known classes/categories/attributes.<br/><br/>Some of these annotations may be intended for machine use (so won't necessarily be easily readable).<br/><br/>BioCatalogue may in the future choose to move some of these annotations to other parts of the UI if deemed appropriate.") -%>
				</span>
				
				<% if show_add %>
					<%= annotation_add_by_popup_link annotatable,
							 :link_text => "Add a new annotation",
					     :tooltip_text => "Click to add a new annotation",
					     :style => "margin-left: 1em;"
					-%>
				<% end %>
	
			</div>
		<% end %>
		
		<div class="box_annotations">
			<% other_annotations = annotatable.all_annotations_excluding_attributes(BioCatalogue::Annotations::KNOWN_ANNOTATION_ATTRIBUTES[:services]) %>
			<% unless other_annotations.empty? %>
				<% other_annotations.each do |ann| %>
					<% rounded(annotation_text_item_background_color, "#333", "100%") do %>
						<div class="other">
							<%= annotation_source_text(ann) -%>
							<p style="font-style: italic; margin: 0; margin-bottom: 0.3em;">
								<%= h(ann.attribute_name) -%>
							</p>
							<div>
								<%= annotation_prepare_description(ann.value) -%>
							</div>
							<% if show_modify_options %>
								<%= render :partial => "annotations/common/default_modify_options",
													 :locals => { :annotation => ann, :ann_type => "annotation" } -%>
							<% end %>
						</div>
					<% end %>
				<% end %>
			<% else %>
				<% if show_none_text == true %>
					<span class="none_text">none</span>
				<% end %>
			<% end %>
		</div>
	</div>
<% end %>