<%

# BioCatalogue: app/views/annotations/_service_submission_fields.html.erb
#
# Copyright (c) 2008, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>



<%# Set defaults for optional parameters to this partial... %>
<% fields_disabled = false unless local_assigns.has_key?(:fields_disabled) %>

<!-- Alternative names-->
<p class="high_linespaced form_field_section">
	Add <b>alternative names</b> for this service (separated by commas):
	<%= info_icon_with_tooltip("These are alternative names that this service might be known as. They will be shown next to the main name of this service.") -%>
	<br/>
	<%= text_field_tag "annotations[alternative_names]", params[:annotations][:alternative_names], :disabled => fields_disabled, :style => "width: 99%;" %>
</p>

<!-- Documentation URL -->
<p class="high_linespaced form_field_section">
	Add a URL to <b>additional documentation</b> for this service:
	<br/>
	<%= text_field_tag "annotations[documentation_url]", params[:annotations][:documentation_url], :disabled => fields_disabled, :style => "width: 99%;" %>
</p>

<!-- Description -->
<p class="high_linespaced form_field_section">
	Add a <b>description</b> of this service:
	<br/>
	<%= text_area_tag "annotations[description]", params[:annotations][:description], :disabled => fields_disabled, :size => (controller.controller_name=="rest_services"? "50x7":"50x10"), :style => "width: 99%;" %>
</p>

<!-- Categories -->
<div class="high_linespaced form_field_section">
	<input id="selected_categories_input" type="hidden" name="annotations[categories]"/>
	<p style="margin-bottom: 0.5em;">
		<b>Categorise</b> this service:
		<%= info_icon_with_tooltip("Here you can specify what categories this service can be classified under. You can set more than one, but please try and be as specific as possible.") -%>
	</p>
	<div id="selected_categories_list" class="form_selected_values">
		<i>None</i>
	</div>
	<p style="margin-top: 0.7em;">
		<%= render_select_tag_for_category_options_on_service_submission("categories_selector", fields_disabled, "width: 450px;") -%>
		<b><a href="" onclick="javascript:addServiceCategory('categories_selector'); return false;" class="button_slim" style="margin-left: 0.6em; padding: 0.2em 0.4em;"><span>Add</span></a></b>
	</p>
</div>

<!-- Tags -->
<p class="high_linespaced form_field_section">
	Add <b>tags</b> to further describe/classify this service (separated by commas):
	<%= info_icon_with_tooltip("These are additional keywords or short phrases that describe aspects of this service in order to make it easy to find and use it.") -%>
	<br/>
	<%= text_field_tag "annotations[tags]", params[:annotations][:tags], :id => "tags_field", :disabled => fields_disabled, :style => "width: 99%;", :autocomplete => "off"  %>
	<div class="auto_complete" id="tags_auto_complete"></div>
	<%= image_tag icon_filename_for(:spinner), :id => "addtag_indicator", :style => "display: none;" %>
	<%= auto_complete_field :tags_field,
			:update => "tags_auto_complete",
			:url => auto_complete_tags_url,
			:tokens => ',',
			:indicator => "addtag_indicator" -%>
</p>

<%# The Javascript code below ensures that any categories selected persist across requests in the event of failed submission  %>
<% if !params[:annotations].nil? and params[:annotations].has_key?(:categories) %>
	<script>
		<% params[:annotations][:categories].split(',').reject{|i| i == ""}.each do |id| %>
			service_categories[<%= id %>] = '<%= escape_javascript(Category.find_by_id(id).name) -%>';
			updateServiceCategoriesList();
		<% end %>
	</script>
<% end %>

<script type="text/javascript"> 

function handleEnter(evt) {

  var evt = evt ? evt : (event ? event : null); 
  var node = evt.target ? evt.target : (evt.srcElement ? evt.srcElement : null); 

  if (evt.keyCode == 13) {
    if (node.id == "categories_selector") {
      addServiceCategory('categories_selector');
      return false;
    }
  }
} 

document.onkeypress = handleEnter; 

</script> 
