<%

# BioCatalogue: app/views/annotations/_tags_box_inner.html.erb
#
# Copyright (c) 2009, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<%
	tag_annotations = BioCatalogue::Annotations.get_tag_annotations_for_annotatable(annotatable)
	main_div_id = "tags_#{rand(10000000)}"
%>

<div id="<%= main_div_id -%>" class="annotations_container">
	<p class="heading">
		Tags
		<span class="faded">(<%= tag_annotations.length -%>)</span>
	</p>
	
	<div id='<%= "#{annotatable.class.name}_#{annotatable.id}_tag_cloud" -%>' class="center">
		<%= render :partial => 'annotations/tags_box_inner_tag_cloud', 
							 :locals => { :tag_annotations => tag_annotations,
														:annotatable => annotatable } -%>
	</div>
	
	<div style="padding-top: 0.7em;">
		<% if logged_in? %>
		
			<%
				text_area_id = "text_area_#{rand(10000000)}"
				submit_button_div_id = "submit_button_div_#{rand(10000000)}"
				spinner_id = "spinner_#{rand(10000000)}"
				tags_auto_complete_id = "tags_auto_complete_#{rand(10000000)}"
			%>
			
			<div class="add_box">
				<% form_remote_tag(:url => create_inline_annotations_url(:multiple => true, :separator => ',', :partial => "tags_box_inner"), 
												   :update => { :success => main_div_id }, 
											 		 :success => "new Effect.Highlight('#{main_div_id}', { duration: 1.0 });",
													 :failure => "alert('Sorry, an error has occurred whilst submitting. If this error persists we would be very grateful if you notified us.');", 
													 :loading => "Element.show('#{spinner_id}')",
		           						 :complete => "Element.hide('#{spinner_id}')") do %>
				
			    <%= hidden_field_tag "annotation[annotatable_type]", annotatable.class.name -%>
			    <%= hidden_field_tag "annotation[annotatable_id]", annotatable.id -%>
			    <%= hidden_field_tag "annotation[attribute_name]", "tag" -%>
					
					<div>
			    	<%= text_area_tag "annotation[value]", 
															"Add tags (comma separated)...",
															:id => text_area_id,
															:rows => 1,
															:onfocus => "$('#{submit_button_div_id}').show();" -%>
															
						<div class="auto_complete" id="<%= tags_auto_complete_id -%>"></div>
						<%= auto_complete_field text_area_id,
								:update => tags_auto_complete_id,
								:url => auto_complete_tags_url,
								:tokens => ',',
								:indicator => spinner_id -%>
					</div>
					
					<div class="submit_button_div" id="<%= submit_button_div_id -%>" style="display: none;">
						<%= image_tag icon_filename_for(:spinner), :id => spinner_id, :style => "display: none; vertical-align: middle; margin-right: 1em;" -%>
			    	<%= submit_tag "Add" -%>
					</div>
					
					<script type="text/javascript">
						<%= default_add_box_js_for_textarea(text_area_id, 16) -%>
					</script>
				
				<% end %>
			</div>
		
		<% else %>
			<div class="footer">
				<%= image_tag(icon_filename_for(:tag_add_inactive), :alt => "Tag", :style => "vertical-align: middle;") %>
				<small><%= link_to("Login to add tags", login_path) -%></small>
			</div>
		<% end %>
	</div>
</div>

