<%

# BioCatalogue: app/views/annotations/_usage_conditions.html.erb
#
# Copyright (c) 2009-2011, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<%
	attribute_name = "usage_condition"
	main_div_id = "usage_conditions_#{rand(10000000)}"
%>

<% unless annotatable.nil? %>
	<div id="<%= main_div_id -%>" class="annotations_container">
		<div style="margin-top: 1em;">
		  <b>Usage Conditions:</b>
			<%= info_icon_with_tooltip("What are the usage conditions on this service? For example: not allowed more than 2 requests per minute and 100 requests per hour.") -%>
		</div>
		
		<div class="box_annotations">
			<% usage_conditions_annotations = annotatable.annotations_with_attribute(attribute_name, true).sort {|a,b| a.updated_at <=> b.updated_at} %>
			<% unless usage_conditions_annotations.empty? %>
				<% usage_conditions_annotations.each do |ann| %>
					<% rounded(annotation_text_item_background_color, "#333", "100%") do %>
						<div class="text">
							<%= annotation_source_text(ann) -%>
                            <div class="annotation_display">
								<%= annotation_prepare_description(ann.value_content) -%>
							</div>
							<%= render :partial => "annotations/common/default_modify_options",
												 :locals => { :annotation => ann, :ann_type => "usage condition info" } -%>
						</div>
					<% end %>
				<% end %>
			<% else %>
				<span class="none_text">No info yet</span>
			<% end %>
		</div>
		
		<% if logged_in? %>
			
			<%= render :partial => "annotations/common/default_add_box",
								 :locals => { :partial_from => "usage_conditions",
															:annotatable => annotatable,
															:attribute_name => attribute_name,
															:text_area_default_text => "Add info on the usage conditions of this service. For example: max 2 requests per minute and 100 requests per hour....",
															:main_div_id => main_div_id } -%>
		
		<% else %>
			<div class="login_link_box">
				<small><%= link_to("Login to add usage conditions info", login_path) -%></small>
			</div>
		<% end %>
	</div>
<% end %>