<%

# BioCatalogue: app/views/soaplab_servers/_about_soaplab.html.erb
#
# Copyright (c) 2009, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<div style="padding: 1em 1.5em; text-align: left;">
	<p>
		<b>About SoapLab</b>
	</p>
	<p>
		SoapLab services are command line applications, wrapped as SOAP services, and served from a SoapLab server.
		All SoapLab services have the same generic set of SOAP operations (depending on the SoapLab version)
		as they all share a standardised interface. To use a SoapLab service you might need additional
		information which is currently not available in the BioCatalogue.
	</p>
	<p>
		Certain tools, like the <%= link_to('Taverna workflow workbench', "http://taverna.org.uk/", :popup => true) %>, 
		provide automatic support for the SoapLab way of executing these services.
		In some cases you will need to use the <b>SoapLab Server Endpoint</b> rather than the WSDL location in these tools.
		<br/> 
		More information on SoapLab clients is available <%= link_to('here', "http://www.ebi.ac.uk/Tools/webservices/soaplab/guide", :popup => true) %>.
	</p>
	<p>
		Future releases of the BioCatalogue will provide improved support for
		SoapLab services, including harvesting more metadata about the service 
		such as what input options are available to the service. We are also 
		working on a more SoapLab specific view of the service's functionality
		and allowing people to annotate the SoapLab specific parts.
	</p>
	<p>
		Further documentation on SoapLab services is available:
		<ul class="simple_list" style="margin-top: 1em;">
			<li><%= link_to("SoapLab overview", "http://www.ebi.ac.uk/Tools/webservices/soaplab/overview", :popup => true) -%></li>
			<li><%= link_to('SoapLab client guide page', "http://www.ebi.ac.uk/Tools/webservices/soaplab/guide", :popup => true) -%></li>
			<li><%= link_to('EBI SoapLab server documentation', "http://www.ebi.ac.uk/soaplab", :popup => true) %></li>
			<li><%= link_to("SoapLab 2", "http://soaplab.sourceforge.net/soaplab2/", :popup => true) -%></li>
			<li><%= link_to('Sourceforge site for EMBOSS SoapLab services', "http://emboss.sourceforge.net/apps/release/6.0/emboss/apps/index.html", :popup => true) -%></li>
		</ul>
	</p>
</div>