<%

# BioCatalogue: app/views/filtering/_filter_options_generic.html.erb
#
# Copyright (c) 2009, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<%# This partial MUST be used within a <div> element with class="filters" %>

<div class="filter_type_box">
		
	<% rounded "#FFF", "#333", "100%" do %>
		
		<p class="type">
			<%= BioCatalogue::Filtering.filter_type_to_display_name(filter_type) -%>
			<span class="faded">(<%= filters.length -%>)</span>
		</p>
		
		<% 
			filters_all_cookie_current_value = get_filters_all_cookie_value(filter_type)
			initial_no_to_show = 10
			hidden_items_class = "filters_hidden_#{filter_type}"
		%>
		
		<ul>
			<%# Show the first x amount...  %>
			<% filters[0...initial_no_to_show].each do |filter| %>
				<li>
					<%= render :partial => 'filtering/filter_option_item',
										 :locals => { :filter => filter,
																	:filter_type => filter_type } -%>
				</li>
			<% end %>
			
			<%# ... hide the rest if there are more... %>
			<% unless (hidden_filters = filters[initial_no_to_show...filters.length]).blank? %>
				<% hidden_filters.each do |filter| %>
					<li class='<%= hidden_items_class -%>' style="<%= (filters_all_cookie_current_value == "true" ? "" : "display:none;") -%>">
						<%= render :partial => 'filtering/filter_option_item',
											 :locals => { :filter => filter,
																		:filter_type => filter_type } -%>
					</li>
				<% end %>
			<% end %>
		</ul>
		
		<%# ... make available the option to show all, if there are more. %>
		<% if filters.length > initial_no_to_show %>
			<p class="more_less_links" style="margin-top: 0.8em;">
				<%= render_show_hide_links(filter_type, hidden_items_class) -%>
			</p>
		<% end %>
		
	<% end %>
		
</div>
