<%

# BioCatalogue: app/views/filtering/_filter_options_categories.html.erb
#
# Copyright (c) 2009, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<%# This partial MUST be used within a <div> element with class="filters" %>

<div class="filter_type_box">
		
	<% rounded "#FFF", "#333", "100%" do %>
		
		<p class="type">
			<%= BioCatalogue::Filtering.filter_type_to_display_name(filter_type) -%>
			<span class="faded">(<%= Category.count -%>)</span>
		</p>
		
		<%
			filters_all_cookie_current_value = get_filters_all_cookie_value(filter_type)
			hidden_items_class = "filters_hidden_#{filter_type}"
		%>
      <% @cat_array = Array.new %>		
		<ul class="top_level">
			<% Category.root_categories.each do |category| %>
				<%= render :partial => 'filtering/filter_option_category_item',
									 :locals => { :category => category,
																:filter_type => filter_type,
																:level => 0,
																:filters_all_cookie_current_value => filters_all_cookie_current_value,
																:hidden_items_class => hidden_items_class } -%>
			<% end %>
		</ul>
		
		<p class="more_less_links" style="margin-top: 1.2em; overflow: hidden;">
      <%= link_to_function 'Expand all' + expand_image("0.5em"), {:id => "expand_all_link", :style => "float:left;"} do |page|
            page << "categoryToggleAll(#{@cat_array.inspect}, true);"
            page << "$(\"expand_all_link\").ancestors()[0].ancestors()[0].scrollTo();"
          end %>

      <%= link_to_function 'Collapse all' + collapse_image("0.5em"), {:id => "collapse_all_link", :style => "float:right;"} do |page|
            page << "categoryToggleAll(#{@cat_array.inspect}, false);"
            page << "$(\"collapse_all_link\").ancestors()[0].ancestors()[0].scrollTo();"
          end %>
    </p>
		
	<% end %>
		
</div>

