<%

# BioCatalogue: app/views/stats/_metadata_stats_for_type.html.erb
#
# Copyright (c) 2009, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<tr>
	<td>
		<a name="metadata_<%= type.to_s -%>"></a>
		<b>By <%= metadata_source_type_title_text(type) -%></b>
	</td>
	<td class="value center">
		<%= number_with_delimiter(@stats.total_metadata_on_services(type)) -%>
	</td>
	<td class="value center">
		<%= number_with_delimiter(@stats.avg_metadata_per_service(type)) -%>
	</td>
	<td class="value center">
		<% max_met = @stats.max_metadata_on_services(type) -%>
		<%= number_with_delimiter(max_met[:count]) -%>
		<br/>
		<%= link_to_function("show services" + expand_image, visual_effect(:toggle_blind, "metadata_#{type}_max_services", :duration => 0.3), :class => "expand_link") %>
	</td>
	<td class="value center">
		<% min_met = @stats.min_metadata_on_services(type) -%>
		<%= number_with_delimiter(min_met[:count]) -%>
		<br/>
		<%= link_to_function("show services" + expand_image, visual_effect(:toggle_blind, "metadata_#{type}_min_services", :duration => 0.3), :class => "expand_link") %>
	</td>
</tr>

<tr id='<%= "metadata_#{type}_max_services"-%>' class="inner services" style="display: none;">
	<td colspan='5'>
		<b>Service(s) with the max no. of metadata, by <%= metadata_source_type_title_text(type) -%>:</b>
		<br/>
		|
		<% max_met[:services].each do |s| %>
			<%= link_to(h(s.name), s) -%>
			|
		<% end %>
	</td>
</tr>

<tr id='<%= "metadata_#{type}_min_services"-%>' class="inner services" style="display: none;">
	<td colspan='5'>
		<b>Service(s) with the min no. of metadata, by <%= metadata_source_type_title_text(type) -%>:</b>
		<br/>
		|
		<% min_met[:services].each do |s| %>
			<%= link_to(h(s.name), s) -%>
			|
		<% end %>
	</td>
</tr>
