<%

# BioCatalogue: app/views/stats/index.html.erb
#
# Copyright (c) 2009, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<% t "All Statistics" %>

<h1>Statistics</h1>

<% if @service_count == 0 %>
    <p style="font-weight: bold;">
      Statistics report is not available as there are no services in the <%= SITE_NAME %> at the moment.
    </p>
<% elsif @stats.nil? %>
    <p>There is no current statistics report. Please use the button below to request it.</p>
    <p>
      <b><%= mail_to "#{FEEDBACK_EMAIL_ADDRESS}", 'Request New Statistics Report', { :subject => "#{SITE_NAME} Statistics Report Request", :encode => "hex", :class => "button_slim"} %></b>
    </p>
<% else %>

	<table class="box_info_standout" style="width: 450px;">
		<tr>
			<td style="vertical-align:middle;"><b>Last calculated:</b> <%= @stats.created_at.to_s -%></td>
			<!--<td style="text-align:right;"><% link_to(refresh_image + " Refresh", refresh_stats_path, :class => "button_slim", :method => :post, :style => "margin-left: 3em;") -%></td>-->
		</tr>
	</table>
		
	<div id="stats_page">

		<div id="stats-tabs" class="tabberlive">

          <%= render :partial => 'tabs_bar' %>

          <% current_tab %>
          <% case current_tab(:stats).to_s %>
          <% when 'general' %>
              <%= render :partial => 'stats/tabs/general' %>
          <% when 'metadata' %>
              <%= render :partial => 'stats/tabs/metadata' %>
          <% when 'tags' %>
              <%= render :partial => 'stats/tabs/tags' %>
          <% when 'search' %>
              <%= render :partial => 'stats/tabs/search' %>
          <% end %>

	    </div>
    </div>

<% end %>
