<%

# BioCatalogue: app/views/oauth_clients/index.html.erb
#
# Copyright (c) 2010, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<h1>OAuth Client Applications</h1>

<% info_box_styles = "margin-top:1.5em; font-size:90%;" %>
<% button_stlyes = "margin-left:0.3em; margin-right:0.3em; float:right;" %>

<% unless @tokens.empty? %>

  <h2>Issued Tokens</h2>

  <div class="box_info_standout" <%=h "style='#{info_box_styles}'" %> >
    <p>The following tokens have been issued to applications in your name</p>
  </div>

  <div class="listings">
    
    <% @tokens.each do |token|%>
      <% next if token.client_application.nil? %>     r
      
      <div class="listing_item" style="height:25px;">
        <%= link_to image_tag("delete_faded_darker.png", :mouseover => "delete.png") + content_tag(:span, " Revoke Access"), 
                    { :controller => :oauth, :action => :revoke, :token => token.token },
                    :confirm => "Are you you want to revoke this client application's access.  This cannot be undone.",
                    :class => "button_slim",
                    :style => button_styles -%>

        <%= link_to h(token.client_application.name), token.client_application.url, :style => "font-weight:bold;" %>
        was allowed access on <%= token.authorized_at %>
      </div>
    <% end %>

  </div>

  <br/><br/><br/>

<% end %>

<div class="header_left_bar" style="float: none; position: static;" id="center" >
    <span class="actions_button_row" >
      <span class="actions_button">
<%= link_to image_tag(icon_filename_for(:add)) + content_tag(:span, " Register Your Application"),
            { :controller => :oauth_clients, :action => :new } -%>
        </span>
    </span>
  </div>
<h2>For Developers</h2>

<% if @client_applications.empty? %>

  <div class="box_info_standout" <%=h "style='#{info_box_styles}'" %> >
    <p>
      You must register your web application before it can make OAuth requests to this service.
      <br/><br/>
      Do you have an application you would like to register for use with us using the <a href="http://oauth.net">OAuth</a> standard?
    </p>
  </div>

<% else %>

  <div class="box_info_standout" <%=h "style='#{info_box_styles}'" %> >
    <p>You have the following client applications registered</p>
  </div>
  
  <div class="listings" >
    <% @client_applications.each do |client|%>
      <div class="listing_item" style="min-height:25px;">

        <div class="">
          <%= link_to image_tag("delete_faded_darker.png", :mouseover => "delete.png") + content_tag(:span, " Delete"), 
                      oauth_client_path(client),
                      :confirm => "Are you you want to delete this client.  This cannot be undone.", 
                      :method => :delete,
                      :class => "button_slim",
                      :style => button_stlyes -%>

          <%= link_to image_tag('pencil.gif') + content_tag(:span, " Edit"),
                      edit_oauth_client_path(client), 
                      :class => "button_slim", 
                      :style => button_stlyes -%>
        </div>
              
        <% uniq_id = "Client::#{client.id}##{client.name}##{client.url}" %>
        <% link_content = "<b>" + h(client.name) + "</b>" %>

        <%= create_expand_collapse_link(uniq_id,
                                        :link_text => link_content, 
                                        :icon_float => "right",
                                        :class => "collapsable_title") -%>
  
        <div id='<%=h uniq_id %>' style="display:none;">
          <br />
          <%= render :partial => "client_application_detail", :locals => { :client_application => client } %>
        </div>
      </div>
            
    <% end %>
  </div>
  
<% end %>
