<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	
	<%= render :partial => 'layouts/head' %>
	
	<body class="sidebar-right">
		<!-- Layout -->
  		<div id="header-region" class="clear-block"></div>

    	<div id="wrapper">
    		<div id="container" class="clear-block">

      			<div id="header">
			    	<div id="logo-floater">
			            <%= link_to image_tag("logo.png", :alt => "www.biocatalogue.org"), "/" %>
			        </div>
			
		        	<%= render :partial => "widgets/primary_links" -%>
					
					<%= render :partial => "widgets/login_links" -%>
			    </div> <!-- /header -->			
			      
			    <div id="center"><div id="squeeze"><div class="right-corner"><div class="left-corner">
			    	<%= render :partial => "widgets/login_box" -%>
					<%= render :partial => "widgets/action_bar" -%>
                    
					<% if flash[:error] %>
						<div id="error_flash">
							<%= white_list flash[:error] %>
						</div>
					<% end %>
    				<% if flash[:notice] %>
						<div id="notice_flash">
							<%= white_list flash[:notice] %>
						</div>
					<% end %>
						
					<%= yield -%>          
          
                    <span class="clear"></span>

                    <div id="footer">
						<%= render :partial => "layouts/footer" -%>
					</div><!-- /footer -->
					
					<%= render :partial => "layouts/debug" if SHOW_DEBUG %>
					
				</div></div></div></div> <!-- /.left-corner, /.right-corner, /#squeeze, /#center -->
				<div id="sidebar-right" class="sidebar">
					
					<!-- This will look for a _sidebar.html.erb partial in the corresponding view directory for the controller being called -->
					<%= render :partial => "sidebar" -%>
					
				<!-- Sidebar box example
					<div class="sidebar_box">
					<div class="box_title" href="#">Box title</div>
					<div class="box_body">
						<div class="box_text">
							Text
						</div>
						<div class="separator"></div>
						<div class="box_subtitle">Box sub-title</div>
						<div class="box_text">
							Text
						</div>
					</div>
				</div> --><!-- /sidebar box example -->
      			</div> <!-- /sidebar-right -->
			</div> <!-- /container -->
		</div> <!-- /wrapper -->
		<!-- /layout -->
	</body>
</html>
