<%

# BioCatalogue: app/views/layouts/application_wide.html.erb
#
# Copyright (c) 2008, University of Manchester, The European Bioinformatics 
# Institute (EMBL-EBI) and the University of Southampton.
# See license.txt for details

%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	
	<%= render :partial => 'layouts/head' %>
	
	<body>
		<!-- Layout -->
  		<div id="header-region" class="clear-block"></div>

    	<div id="wrapper">

	  <div class="box_info_standout" style="text-align: center; position: absolute; top: 0; left: 0; right:0;">
	    Please note that this is a <b>beta</b> site, so please avoid bookmarking any pages and please let us know what you think. Thanks!
	  </div>

    		<div id="container" class="clear-block">

      		<div id="header">
			<div id="logo-floater">
		            <%= link_to image_tag("logo_beta_small.png", :alt => "www.biocatalogue.org"), "/" %>
		        </div>

			<%= render :partial => "widgets/primary_links" -%>
						
			<%= render :partial => "widgets/login_links" -%>
		</div> <!-- /header -->
			
			      
			    <div id="center"><div id="squeeze"><div class="right-corner"><div class="left-corner">
			    	<%= render :partial => "widgets/login_box" -%>
						<%= render :partial => "widgets/action_bar" -%>
						
						<%= render :partial => "widgets/breadcrumbs_bar" -%>
          
						<div id="content">
							<% if flash[:error] %>
								<div id="error_flash">
									<%= white_list flash[:error] %>
								</div>
							<% end %>
							
	    				<% if flash[:notice] %>
								<div id="notice_flash">
									<%= white_list flash[:notice] %>
								</div>
							<% end %>
								
							<%= yield -%>
						</div>        
          
          			<span class="clear"></span>
					
					<%= render :partial => "layouts/debug" if SHOW_DEBUG %>
					
				</div></div></div></div> <!-- /.left-corner, /.right-corner, /#squeeze, /#center -->      
			</div> <!-- /container -->
			<%= render :partial => "layouts/footer" -%>
		</div> <!-- /wrapper -->
		<!-- /layout -->
	</body>
</html>
