<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	
	<%= render :partial => 'layouts/head' %>
	
	<body>
		<!-- Layout -->
  		<div id="header-region" class="clear-block"></div>

    	<div id="wrapper">
    		<div id="container" class="clear-block">

      			<div id="header">
			    	<div id="logo-floater">
			            <%= link_to image_tag("logo.png", :alt => "www.biocatalogue.org"), "/" %>
			        </div>
			
		        	<ul class="primary-links"><li><a href="#">Home</a></li>
						<li class="separator"><a href="#">Support</a></li>
						<li class="separator"><a href="#">About us</a></li>
					</ul>
					
					<%= render :partial => "widgets/login_links" -%>
			    </div> <!-- /header -->
			
			      
			    <div id="center"><div id="squeeze"><div class="right-corner"><div class="left-corner">
			    	<%= render :partial => "widgets/login_box" -%>
			    	<div id="action_bar">
			        	Search:&nbsp;<input type="text" />&nbsp;<%= link_to image_tag("go_button.png", :alt => "Search for a Service"), "/" %><span id="action_links"><%= link_to 'Browse', services_path %><%= link_to 'Register a Service', new_service_path %></span>
			        </div>
                    
					<% if flash[:error] %>
						<div id="error_flash">
							<%= white_list flash[:error] %>
						</div>
					<% end %>
    				<% if flash[:notice] %>
						<div id="notice_flash">
							<%= white_list flash[:notice] %>
						</div>
					<% end %>
						
					<%= yield -%>          
          
          <span class="clear"></span>

          <div id="footer">
						<%= render :partial => "layouts/footer" -%>
					</div><!-- /footer -->
					
					<%= render :partial => "layouts/debug" if SHOW_DEBUG %>
					
				</div></div></div></div> <!-- /.left-corner, /.right-corner, /#squeeze, /#center -->
      
			</div> <!-- /container -->
		</div> <!-- /wrapper -->
		<!-- /layout -->
	</body>
</html>
